#account_status_explain.drawer
  = link_to "<span id='account_status_icon'>▼</span><span id='account_status_loading' style ='display: none;'>#{image_tag('loading.gif', :alt=>'loading...', :border => 0, :height => 12, :width => 12)}</span> #{t('.status_of_today', date: l(today, format: :short))}".html_safe, account_status_path, :remote => true, :method => :delete, :before => "$('#account_status_icon').hide(); $('#account_status_reload_icon').hide(); $('#account_status_loading').show();"
  = link_to "<span id='account_status_reload_icon'>#{image_tag('reload.png', :alt => 'Reload', :border => 0, :height => 12, :width => 12)}</span>".html_safe, account_status_path, :remote => true, :method => :get, :before => "$('#account_status_icon').hide(); $('#account_status_reload_icon').hide(); $('#account_status_loading').show();"
#account_status_body{:style => "display: none;"}
  %table#account_status_table
    %tr
      %th= t('label.account')
      %th= t('label.balance')
    - total = 0
    - account_statuses['account'].each do |account_status|
    - total += account_status[1]
      %tr
        %td= account_status[0].name
        %td{:align => "right", :nowrap => "nowrap", :style => "#{account_status[1] < 0 ? "color: red;" : ""}"}= number_to_currency(account_status[1])
    %tr
      %td.total= t('label.total')
      %td.total{:align => "right", :nowrap => "nowrap", :style => "#{total < 0 ? "color: red" : "" }"}= number_to_currency(total)
    %tr
      %th= t('label.income')
      %th= t('label.amount')
    - total = 0
    - account_statuses['income'].each do |account_status|
    - total += account_status[1]
      %tr
        %td= account_status[0].name
        %td{ :align => "right", :nowrap => 'nowrap', :style =>  "#{account_status[1] < 0 ? "color: red;" : "" }"}= number_to_currency(account_status[1])
    %tr
      %td.total= t('label.total')
      %td.total{:align => "right", :nowrap => "nowrap", :style => "#{total < 0 ? "color: red;" : "" }"}=number_to_currency(total)
    %tr
      %th= t('label.outgoing')
      %th= t('label.amount')
    - total = 0
    - account_statuses['outgo'].each do |account_status|
    - total += account_status[1]
      %tr
        %td= account_status[0].name
        %td{:align => "right", :nowrap => "nowrap", :style => "#{account_status[1] < 0 ? "color: red" : ""}"}= number_to_currency(account_status[1])
    %tr
      %td.total= t('label.total')
      %td.total{ :align => "right", :nowrap => "nowrap", :style => "#{total < 0 ?  "color: red" : ""}"}= number_to_currency(total)
