#account_status_body
  %table.table.table-condensed#account_status_table
    %tr
      %th= t('label.account')
      %th.amount= t('label.balance')
    - total = 0
    - account_statuses[:bankings].each do |account_status|
    - total += account_status[1]
      %tr
        %td= account_status[0].name
        %td.amount{ style: account_status[1] < 0 ? 'color: red;' : '' }= number_to_currency(account_status[1])
    %tr
      %td.total= t('label.total')
      %td.total.amount{ style: total < 0 ? 'color: red' : '' }= number_to_currency(total)
    %tr
      %td
      %td
    %tr
      %th= t('label.income')
      %th.amount= t('label.amount')
    - total = 0
    - account_statuses[:incomes].each do |account_status|
    - total += account_status[1]
      %tr
        %td= account_status[0].name
        %td.amount{ style: account_status[1] < 0 ? 'color: red;' : '' }= number_to_currency(account_status[1])
    %tr
      %td.total= t('label.total')
      %td.total.amount{ style: total < 0 ? 'color: red;' : '' }= number_to_currency(total)
    %tr
      %td
      %td
    %tr
      %th= t('label.expense')
      %th.amount= t('label.amount')
    - total = 0
    - account_statuses[:expenses].each do |account_status|
    - total += account_status[1]
      %tr
        %td= account_status[0].name
        %td.amount{ style: account_status[1] < 0 ? 'color: red' : '' }= number_to_currency(account_status[1])
    %tr
      %td.total= t('label.total')
      %td.total.amount{ style: total < 0 ? 'color: red' : '' }= number_to_currency(total)
