#account_status_explain.drawer
  = link_to "<span id='account_status_icon'>▼</span><span id='account_status_loading' style ='display: none;'>#{image_tag('loading.gif', :alt=>'loading...', :border => 0, :height => 12, :width => 12)}</span> 今日(#{today.strftime('%m/%d')})の状況".html_safe, account_status_path, :remote => true, :method => :delete, :before => "$('#account_status_icon').hide(); $('#account_status_reload_icon').hide(); $('#account_status_loading').show();"
  = link_to "<span id='account_status_reload_icon'>#{image_tag('reload.png', :alt => 'Reload', :border => 0, :height => 12, :width => 12)}</span>".html_safe, account_status_path, :remote => true, :method => :get, :before => "$('#account_status_icon').hide(); $('#account_status_reload_icon').hide(); $('#account_status_loading').show();"
#account_status_body{:style => "display: none;"}
  %table#account_status_table
    %tr
      %th 口座
      %th 残高
    - total = 0
    - account_statuses['account'].each do |account_status|
    - total += account_status[1]
      %tr
        %td= account_status[0].name
        <td align="right" nowrap #{raw 'style="color: red;"' if account_status[1] < 0}>#{CommonUtil.separate_by_comma(account_status[1])}円
    %tr
      %td.total> 合計
      <td class="total" align="right" nowrap #{raw 'style="color: red;"' if total < 0}>#{CommonUtil.separate_by_comma(total)}円
    %tr
      %th 収入
      %th 金額
    - total = 0
    - account_statuses['income'].each do |account_status|
    - total += account_status[1]
      %tr
        %td= account_status[0].name
        <td align="right" nowrap #{raw 'style="color: red;"' if account_status[1] < 0}>#{CommonUtil.separate_by_comma(account_status[1])}円
    %tr
      %td.total> 合計
      <td class="total" align="right" nowrap #{raw 'style="color: red;"' if total < 0}>#{CommonUtil.separate_by_comma(total)}円
    %tr
      %th 支出
      %th 金額
    - total = 0
    - account_statuses['outgo'].each do |account_status|
    - total += account_status[1]
      %tr
        %td= account_status[0].name
        <td align="right" nowrap #{raw 'style="color: red;"' if account_status[1] < 0}>#{CommonUtil.separate_by_comma(account_status[1])}円
    %tr
      %td.total> 合計
      <td class="total" align="right" nowrap #{raw 'style="color: red;"' if total < 0}>#{CommonUtil.separate_by_comma(total)}円
