%div{:id => "credit_relation_#{@cr.id}"}
  = form_tag settings_credit_relation_path(@cr.id), :remote => true, :method => :put, :before => "$('edit_button_#{@cr.id}').disabled = true", :complete => "$('edit_button_#{@cr.id}').disabled = false" , :id => 'edit_form_#{@cr.id}' do
    %table
      %tr
        %th クレジットカード
        %th 引き落とし口座
        %th 締め日
        %th 引き落とし日
        %th 操作
      %tr
        %td= select_tag 'credit_account_id', options_for_select(@separated_accounts[:bank_accounts], @cr.credit_account_id.to_s)
        %td= select_tag 'payment_account_id', options_for_select(@separated_accounts[:bank_accounts], @cr.payment_account_id.to_s)
        %td
          毎月 #{select_tag 'settlement_day', options_for_select(CREDIT_RELATION_SETTLEMENT_DAYS, @cr.settlement_day)}日
        %td
          = select_tag 'payment_month', options_for_select(CREDIT_RELATION_PAYMENT_MONTHS, @cr.payment_month)
          = select_tag 'payment_day', options_for_select(CREDIT_RELATION_PAYMENT_DAYS, @cr.payment_day)
          日
        %td
          = submit_tag '変更', :id=>"edit_button_#{@cr.id}"
          %br/
          = link_to 'キャンセル', settings_credit_relation_path(@cr.id), :remote => true, :method => :get
  %span.warning{:id => "edit_warning_#{@cr.id}"}
