:coffeescript
  $ ->
    $('#edit_form_#{@cr.id}')
      .bind("ajax:before", -> $('#edit_button_#{@cr.id}').attr("disabled", true))
      .bind("ajax:complete", -> $('#edit_button_#{@cr.id}').attr("disabled", false))
%div{id: "credit_relation_#{@cr.id}"}
  = form_tag settings_credit_relation_path(@cr.id), remote: true, method: :put, id: "edit_form_#{@cr.id}", class: 'form-horizontal well' do
    .control-group
      %label.control-label{for: 'credit_account_id'}= t('settings.credit_relations.credit_card')
      .controls= select_tag 'credit_account_id', options_for_select(@user.bank_accounts, @cr.credit_account_id.to_s), class: 'input-medium'
    .control-group
      %label.control-label{for: 'payment_account_id'}= t('settings.credit_relations.account_to_draw')
      .controls= select_tag 'payment_account_id', options_for_select(@user.bank_accounts, @cr.payment_account_id.to_s), class: 'input-medium'
    .control-group
      %label.control-label{for: 'settlement_day'}= t('settings.credit_relations.closing_date')
      .controls
        .input-prepend.input-append
          %span.add-on>= t('settings.credit_relations.monthly')
          = select_tag 'settlement_day', options_for_select(CreditRelation::SETTLEMENT_DAYS, @cr.settlement_day), class: 'input-small'
          %span.add-on>= t('label.day')
    .control-group
      %label.control-label{for: 'payment_month'}= t('settings.credit_relations.due')
      .controls
        = select_tag 'payment_month', options_for_select(CreditRelation::PAYMENT_MONTHS, @cr.payment_month), class: 'input-small'
        .input-append
          = select_tag 'payment_day', options_for_select(CreditRelation::PAYMENT_DAYS, @cr.payment_day), class: 'input-small'
          %span.add-on>= t('label.day')
    .control-group
      .controls
        = submit_tag t('button.save'), id: "edit_button_#{@cr.id}", class: 'btn btn-primary'
        = link_to t('link.cancel'), settings_credit_relation_path(@cr.id), remote: true, method: :get, class: 'btn'
        .warning{id: "edit_warning_#{@cr.id}"}
