:coffeescript
  $ ->
    $('#edit_form_#{@cr.id}')
      .bind("ajax:before", -> $('#edit_button_#{@cr.id}').attr("disabled", true))
      .bind("ajax:complete", -> $('#edit_button_#{@cr.id}').attr("disabled", false))
%div{:id => "credit_relation_#{@cr.id}"}
  = form_tag settings_credit_relation_path(@cr.id), :remote => true, :method => :put, :id => "edit_form_#{@cr.id}" do
    %table
      %tr
        %th= t('settings.credit_relations.credit_card')
        %th= t('settings.credit_relations.account_to_draw')
        %th= t('settings.credit_relations.closing_date')
        %th= t('settings.credit_relations.due')
        %th
      %tr
        %td= select_tag 'credit_account_id', options_for_select(@separated_accounts[:bank_accounts], @cr.credit_account_id.to_s)
        %td= select_tag 'payment_account_id', options_for_select(@separated_accounts[:bank_accounts], @cr.payment_account_id.to_s)
        %td
          #{t('settings.credit_relations.monthly')} #{select_tag 'settlement_day', options_for_select(CreditRelation::SETTLEMENT_DAYS, @cr.settlement_day)} #{t('label.day')}
        %td
          = select_tag 'payment_month', options_for_select(CreditRelation::PAYMENT_MONTHS, @cr.payment_month)
          = select_tag 'payment_day', options_for_select(CreditRelation::PAYMENT_DAYS, @cr.payment_day)
          = t('label.day')
        %td
          = submit_tag t('button.save'), :id=>"edit_button_#{@cr.id}"
          %br/
          = link_to t('link.cancel'), settings_credit_relation_path(@cr.id), :remote => true, :method => :get, :class => "trivial_link"
  %span.warning{:id => "edit_warning_#{@cr.id}"}
