:coffeescript
  $ ->
    $("#add_form")
      .bind("ajax:before", -> $('#add_button').attr("disabled", true))
      .bind("ajax:complete", -> $('#add_button').attr("disabled", false))
.row
  .span12
    .cfg_credit_relation_list
      %h3= t('.register_credit_relation')
      = form_tag settings_credit_relations_path, {:remote => true, :method => :post, :id => 'add_form', :class => "form-horizontal well"} do
        .control-group
          %label.control-label{for: "credit_account_id"}= t('settings.credit_relations.credit_card')
          .controls= select_tag 'credit_account_id', options_for_select(@user.bank_accounts), :class => "input-medium"
        .control-group
          %label.control-label{for: "payment_account_id"}= t('settings.credit_relations.account_to_draw')
          .controls= select_tag 'payment_account_id', options_for_select(@user.bank_accounts), :class => "input-medium"
        .control-group
          %label.control-label{for: "settlement_day"}= t('settings.credit_relations.closing_date')
          .controls
            %div{:class => "input-prepend input-append"}
              %span.add-on>= t('settings.credit_relations.monthly')
              = select_tag 'settlement_day', options_for_select(CreditRelation::SETTLEMENT_DAYS), :class => "input-small"
              %span.add-on>= t('label.day')
        .control-group
          %label.control-label{for: "payment_month"}= t('settings.credit_relations.due')
          .controls
            = select_tag 'payment_month', options_for_select(CreditRelation::PAYMENT_MONTHS), :class => "input-small"
            .input-append
              = select_tag 'payment_day', options_for_select(CreditRelation::PAYMENT_DAYS), :class => "input-small"
              %span.add-on>= t('label.day')
        .control-group
          .controls
            = submit_tag t('button.register'), id: 'add_button', class: 'btn btn-primary'
            #warning.warning
      %h3= t('label.list_update_delete')
      #credit_relations_headers.cfg_credit_relations_header.row-fluid
        .cfg_credit_relation_name.cfg_credit_relation_header.span2.hidden-phone= t('settings.credit_relations.credit_card')
        .cfg_payment_relation_name.cfg_credit_relation_header.span2.hidden-phone= t('settings.credit_relations.account_to_draw')
        .cfg_settlement_day.cfg_credit_relation_header.span2.hidden-phone= t('settings.credit_relations.closing_date')
        .cfg_payment_date.cfg_credit_relation_header.span2.hidden-phone= t('settings.credit_relations.due')
        .cfg_credit_relation_operation.cfg_credit_relation_header.span1.hidden-phone
      #credit_relations
        - @credit_relations.each do |cr|
          = render :partial=> 'show', :locals => {:cr => cr}

