#menu
  = render :partial=>'settings/config_menu'
.cfg_credit_relation_list
  %p= t('label.register')
  %div
    = form_tag settings_credit_relations_path, {:remote => true, :method => :post, :before => "$('add_button').disabled = true", :complete => "$('add_button').disabled = false", :id => 'add_form'} do
      %table
        %tr
          %th= t('settings.credit_relations.credit_card')
          %th= t('settings.credit_relations.account_to_draw')
          %th= t('settings.credit_relations.closing_date')
          %th= t('settings.credit_relations.due')
          %th
        %tr
          %td= select_tag 'credit_account_id', options_for_select(@separated_accounts[:bank_accounts])
          %td= select_tag 'payment_account_id', options_for_select(@separated_accounts[:bank_accounts])
          %td
            #{t('settings.credit_relations.monthly')} #{select_tag 'settlement_day', options_for_select(CreditRelation::SETTLEMENT_DAYS)}#{t('label.day')}
          %td
            = select_tag 'payment_month', options_for_select(CreditRelation::PAYMENT_MONTHS)
            = select_tag 'payment_day', options_for_select(CreditRelation::PAYMENT_DAYS)
            = t('label.day')
          %td= submit_tag t('button.register'), :id=>'add_button'
  #warning.warning
  %p= t('label.list_update_delete')
  #credit_relations_headers
    .cfg_credit_relation_name.cfg_credit_relation_header= t('settings.credit_relations.credit_card')
    .cfg_payment_relation_name.cfg_credit_relation_header= t('settings.credit_relations.account_to_draw')
    .cfg_settlement_day.cfg_credit_relation_header= t('settings.credit_relations.closing_date')
    .cfg_payment_date.cfg_credit_relation_header= t('settings.credit_relations.due')
    .cfg_credit_relation_operation.cfg_credit_relation_header
  .reset
  #credit_relations
    - @credit_relations.each do |cr|
      = render :partial=> 'show', :locals => {:cr => cr}
