<div id="pl_history"></div>
<div id="pl_history_<%=h @account_id %>">
<table width="600">
<tr><th colspan="5"><%=h @separated_accounts[:all_accounts][@account_id] %>の出納帳 (<%= link_to_function '隠す', "new Effect.Fade('pl_history_#{ @account_id }', {duration: 0.3}); setTimeout(function() { Element.remove('pl_history_#{@account_id}');}, 3000);" %>)</th></tr>


<tr>
<th width="80px">日付</th><th>種別</th><th>項目</th><th width="80px">金額</th><th width="80px">累計</th></tr>
<% 
total = 0
@items.each do |it|
   amount = it.amount
     related_account = @separated_accounts[:all_accounts][it.from_account_id]
     total += amount
%>
<tr>
<td width="80px"><%=h it.action_date.strftime("%Y/%m/%d") %></td>
<td><%=h related_account %></td>
<td><%=h (it.is_adjustment) ? '残高調整 ' + CommonUtil.separate_by_comma(it.adjustment_amount) + ' 円' : it.name %></td>
<td align="right" width="80px"><%=h CommonUtil.separate_by_comma(amount) %> 円</td>
<td align="right" width="80px"><%=h CommonUtil.separate_by_comma(total) %> 円</td></tr>
<% end %>
<tr><th colspan="4">合計</th>
<th align="right"><%= CommonUtil.separate_by_comma(total) %> 円</th></tr>
</table>
</div>
