#pl_history
%div{:id => "pl_history_#{h @account_id}"}
  %table{:width => "600"}
    %tr
      %th{:colspan => "5"}
        - selector = "#pl_history_#{@account_id}"
        = @separated_accounts[:all_accounts][@account_id]
        の出納帳 (#{link_to_function '隠す', fadeout_and_remove(selector)})
    %tr
      %th{:width => "80px"} 日付
      %th 種別
      %th 項目
      %th{:width => "80px"} 金額
      %th{:width => "80px"} 累計
    - total = 0
    - @items.each do |it|
    - amount = it.amount
    - related_account = @separated_accounts[:all_accounts][it.from_account_id]
    - total += amount
      %tr
        %td{:width => "80px"}= h it.action_date.strftime("%Y/%m/%d")
        %td= h related_account
        %td= h (it.is_adjustment) ? '残高調整 ' + CommonUtil.separate_by_comma(it.adjustment_amount) + ' 円' : it.name
        %td{:align => "right", :width => "80px"}
          = h CommonUtil.separate_by_comma(amount)
          円
        %td{:align => "right", :width => "80px"}
          = h CommonUtil.separate_by_comma(total)
          円
    %tr
      %th{:colspan => "4"} 合計
      %th{:align => "right"}
        = CommonUtil.separate_by_comma(total)
        円
