#pl_history
%div{ id: "pl_history_#{h @account_id}" }
  %table.table
    %tr
      %th{ colspan: '5' }
        - selector = "#pl_history_#{@account_id}"
        = @user.all_accounts[@account_id]
        #{t('label.of_history')} (#{link_to t('link.hide'), '#', onclick: fadeout_and_remove(selector) + 'return false;'})
    %tr
      %th= t('label.date')
      %th= t('label.type')
      %th= t('label.item')
      %th.amount= t('label.amount')
      %th.amount= t('label.cumulative')
    - total = 0
    - @items.each do |it|
      :ruby
        amount = it.amount
        related_account = @user.all_accounts[it.from_account_id]
        total += amount
      %tr
        %td= l(it.action_date)
        %td= related_account
        %td= it.adjustment? ? t('label.adjustment') + number_to_currency(it.adjustment_amount) : it.name.decorate
        %td.amount= number_to_currency(amount)
        %td.amount= number_to_currency(total)
    %tr
      %th{ colspan: '4' }= t('label.total')
      %th.amount= number_to_currency(total)
