- cur_year = displaying_month.year
- cur_month = displaying_month.month
- provide :append_head do
  :coffeescript
    this.urls = {
      income: "#{chart_data_budget_path(id: sprintf("%04d%02d", cur_year, cur_month), format: :json)}",
      expense: "#{chart_data_budget_path(id: sprintf("%04d%02d", cur_year, cur_month), budget_type: 'expense', format: :json)}",
      yearly_income: "#{chart_data_yearly_budget_path(id: sprintf("%04d%02d", cur_year, cur_month), budget_type: 'income', format: :json)}",
      yearly_expense: "#{chart_data_yearly_budget_path(id: sprintf("%04d%02d", cur_year, cur_month), budget_type: 'expense', format: :json)}",
      yearly_total: "#{chart_data_yearly_budget_path(id: sprintf("%04d%02d", cur_year, cur_month), budget_type: 'total', format: :json)}"
    }
  = render "common/chart_header"
  = javascript_include_tag "profit_losses"
.row
  .span12
    - calendar_from_date = calendar_from(@user)
    - calendar_to_date = calendar_to(@user)
    = monthlist(calendar_from_date.year, calendar_from_date.month, calendar_to_date.year, calendar_to_date.month,cur_year, cur_month,'index')
    #pllist
      .row
        .span4
          %table.table
            %tr
              %th{colspan: "3"} "#{l(displaying_month, format: :year_month)}#{t('.income_section')}"
            %tr
              %th= t('label.item')
              %th.amount= t('label.amount')
              %th.amount %
            - @account_incomes.each do |ai|
              %tr
                %td "#{h ai.name} [#{link_to t('link.revenue'), profit_loss_path(displaying_month.year, displaying_month.month, ai.id), :remote => true, :method => :get}]"
                %td.amount= number_to_currency(-1 * @m_pls[ai.id])
                %td.amount "#{(@total_income == 0) ? '*' : @m_pls[ai.id] * (-100) / @total_income}%"
            %tr
              %td.total= t('label.total_of_income')
              %td.total.amount= number_to_currency(@total_income)
              %td.amount 100%
            %tr
              %th{colspan: "3"} "#{l(displaying_month, format: :year_month)}#{t('.expense_section')}"
            %tr
              %th= t('label.item')
              %th.amount= t('label.amount')
              %th.amount %
            - @account_expenses.each do |og|
              %tr
                %td "#{h og.name} [#{link_to t('link.revenue'), profit_loss_path(displaying_month.year, displaying_month.month, og.id), :remote => true, :method => :get}]"
                %td.amount= number_to_currency(@m_pls[og.id])
                %td.amount "#{(@total_expense == 0) ? '*' : @m_pls[og.id] * 100 / @total_expense}%"
            %tr
              %td.total= t('label.total_of_expense')
              %td.total.amount= number_to_currency(@total_expense)
              %td.amount 100%
            %tr
              %td.space{colspan: "3"}
            %tr
              %td.all_total
                = l(displaying_month, format: :year_month)
                %br/
                = t('label.gross_profit')
              %td.all_total.amount= number_to_currency(@total_income - @total_expense)
              %td.amount -
        .span8
          .budget_graph
            .chart_title
              %i.icon-th= ' ' + t('label.income')
              = toggle_legend_link '#income_chart'
              %span#income_chart_hover
            .graph#income_chart{style: "height:200px;"}
            .spacer &nbsp;
            .chart_title
              %i.icon-th= ' ' + t('label.expense')
              = toggle_legend_link '#expense_chart'
              %span#expense_chart_hover
            .graph#expense_chart{style: 'height: 200px;'}
            .spacer &nbsp;
            .chart_title
              %i.icon-th= ' ' + t('label.yearly_income')
              = toggle_legend_link '#yearly_income_chart'
            #yearly_income_chart_choices
            .graph#yearly_income_chart{style: 'height: 200px;'}
            .spacer &nbsp;
            .chart_title
              %i.icon-th= ' ' + t('label.yearly_expense')
              = toggle_legend_link '#yearly_expense_chart'
            #yearly_expense_chart_choices
            .graph#yearly_expense_chart{style: "height: 200px"}
            .spacer &nbsp;
            .chart_title
              %i.icon-th= ' ' + t('label.yearly_total_income_and_total_expense')
              = toggle_legend_link '#yearly_total_chart'
            #yearly_total_chart_choices
            .graph#yearly_total_chart{style: 'height: 200px'}
          %br/
          #pl_history
