:javascript
  $(function() {
    $("#create_form").bind("ajax:before", function() {
        $('#submit_button').attr("disabled", "disabled");
      })
      .bind("ajax:complete", function() {
        $('#submit_button').removeAttr("disabled");
      });
  });
= form_tag settings_accounts_path, :remote => true, :method => :post, :id => "create_form"  do
  = t("settings.accounts.bank_account") if @account_type == 'account'
  = t("settings.accounts.outgoing_account") if @account_type == 'outgo'
  = t("settings.accounts.income_account") if @account_type == 'income'
  \:#{text_field_tag :account_name, nil, :size=>20} #{t("label.position")}:#{text_field_tag :order_no, nil, :size=>3}#{hidden_field_tag :account_type, @account_type}#{submit_tag t("button.register"), :id=>"submit_button"}
#add_warning.warning
