:javascript
  $(function() {
    $('#colorpicker_#{@account.id}').farbtastic('#colorfield_#{@account.id}');
    $("#edit_form_#{@account.id}")
      .bind("ajax:before", function() {
        $('#edit_button_#{@account.id}').attr('disabled', 'disabled');
      })
      .bind("ajax:complete", function() {
        $('#edit_button_#{@account.id}').removeAttr('disabled');
      });
  });
%div{:id => "account_#{@account.id}"}
  = form_tag settings_account_path(@account.id), :method => :put, :remote => true, :id => "edit_form_#{@account.id}" do
    = text_field_tag :account_name, @account.name, :size=>20
    = text_field_tag :order_no, @account.order_no, :size=>3
    = submit_tag t('button.save'), :id=>"edit_button_#{@account.id}"
    = link_to t('link.cancel'), settings_account_path(@account.id), :remote => true, :method => :get
    %br/
    = t(".use_bgcolor")
    = check_box_tag :use_bgcolor, '1', (@account.bgcolor.present?), :id => "use_bgcolor_#{@account.id}"
    = hidden_field_tag :bgcolor, @account.bgcolor.nil? ? '#ffffff' : "##{@account.bgcolor}", :id => "colorfield_#{@account.id}"
    .warning{:id => "account_#{@account.id}_warning"}
    %span{:id => "colorpicker_#{@account.id}"}
  
