.cfg_account{:id => "account_#{account.id.to_s}"}
  .cfg_account_name
    - if account.bgcolor.blank?
      = account.name
    - else
      %span{:style => "background-color: ##{h account.bgcolor};"}= h account.name
  .cfg_account_order= account.order_no
  .cfg_account_operation
    = link_to t("link.edit"), edit_settings_account_path(account.id), :method => :get, :remote => true
    = link_to t("link.delete"), settings_account_path(account.id), :method => :delete, :confirm => t("message.delete_really"), :remote => true
.reset
