.cfg_account.row-fluid{id: "account_#{account.id}"}
  .cfg_account_name.span2
    - if account.bgcolor?
      = colored_account_name(account.id)
    - else
      = account.name
  .cfg_account_order.span1
    = account.order_no
  .cfg_account_operation.span1
    = link_to icon_edit, edit_settings_account_path(account.id), method: :get, remote: true
    = link_to icon_destroy, settings_account_path(account.id), method: :delete, data: { confirm: t('message.delete_really') }, remote: true
