! $("#account_#{@account.id}").replaceWith("#{escape_javascript(render partial: 'edit')}")
! cp_#{@account.id} = new Control.ColorPicker('colorfield_#{@account.id}', { 'swatch' : 'colorbox_#{@account.id}' });
