- provide :append_head do
  = javascript_include_tag 'settings/accounts'
  = javascript_include_tag 'farbtastic'
  = stylesheet_link_tag 'farbtastic'
.row
  .span12
    .cfg_account_list
      #input_add= render 'add'
      #accounts
        .cfg_account.row-fluid
          .cfg_account_name.cfg_account_header.span2.hidden-phone= t("settings.accounts.#{@type}_account")
          .cfg_account_order.cfg_account_header.span1.hidden-phone= t('label.position')
          .cfg_account_operation.cfg_account_header.span1.hidden-phone &nbsp;
        - @accounts.each do |account|
          = render partial: 'show', locals: { account: account }
