:javascript
  $(function() {
    $("#do_add_item")
      .bind("ajax:before", function() {
        $('#new_add_button').attr('disabled', 'disabled');
      })
      .bind("ajax:complete", function() {
        $('#new_add_button').removeAttr('disabled');
      });
    $("#action_date").datepicker();
  });
  
%p#add_item_explain
  = t('label.register_adjustment')
  %span{:style => "font-weight: normal;font-size: 12px;"}= link_to t('link.register_income_outgo'), new_entry_path(:year => date.year, :month => date.month), :remote => true, :method => :get
%span= t('entries.adjustment_explanation')
= form_tag entries_path(date.year, date.month), :remote => true, :method => :post, :id=>'do_add_item' do
  = text_field_tag :action_date, l(date), size: 12, placeholder: "YYYY/MM/DD"
  = select_tag 'to', options_for_select(@separated_accounts[:bank_accounts])
  = t('label.balance')
  = text_field_tag 'adjustment_amount', nil, :size=>10, :style=>"text-align: right;", placeholder: t("placeholder.amount")
  %br/
  #{text_field_tag 'tag_list',nil, placeholder: t('placeholder.tag')} #{submit_tag t('button.register'), :id=>'new_add_button'}#{hidden_field_tag 'entry_type', 'adjustment'}
