= stylesheet_link_tag "entries"
:javascript
  $(function() {
    itemNameObserver("#{entry_candidates_path}");
    $("#do_add_item")
      .bind("ajax:before", function() {
        $('#new_add_button').attr('disabled', 'disabled');
      })
      .bind("ajax:complete", function() {
        $('#new_add_button').removeAttr('disabled');
      });
    $("#action_date").datepicker();
    $("#confirmation_required_label").bind("click", function() {
      toggleConfirmationRequired($("#confirmation_required").attr("value") != "true");
    });
  });
  
%p#add_item_explain
  = t('label.register_income_outgo')
  %span.swither_link= link_to t('link.register_adjustment'), new_entry_path(:year => it.action_date.year, :month => it.action_date.month, :entry_type => 'adjustment'), :remote => true, :method => :get
= form_tag entries_path(it.action_date.year, it.action_date.month), :remote => true, :method => :post, :id=>'do_add_item' do
  = text_field_tag :action_date, l(it.action_date), size: 12, placeholder: "YYYY/MM/DD"
  = text_field_tag :item_name, it.name, size: 30, placeholder: t('placeholder.item_name')
  = hidden_field_tag :confirmation_required, it.confirmation_required?
  %span#confirmation_required_label.item_confirmation_not_required= '☆'
  = link_to '[すべての★を見る]', mark_entries_path(mark: :confirmation_required)
  #candidates
  = select_tag 'from', options_for_select(@separated_accounts[:from_accounts], it.from_account_id.to_s)
  \=&gt;
  = select_tag 'to', options_for_select(@separated_accounts[:to_accounts], it.to_account_id.to_s)
  = text_field_tag 'amount', ((it.amount.nil? || it.amount == 0) ? nil : number_to_currency(it.amount, format: "%n")), size: 10, class: "amount", placeholder: t('placeholder.amount')
  %br/
  #{t('label.tag')} #{text_field_tag 'tag_list', nil, placeholder: t('placeholder.tag')} #{submit_tag t('button.register'), id: 'new_add_button'}

