%p#add_item_explain
  = _("Register Income/Outgo")
  %span{:style => "font-weight: normal;font-size: 12px;"}= link_to _('Register Adjustment'), new_entry_path(:year => it.action_date.year, :month => it.action_date.month, :entry_type => 'adjustment'), :remote => true, :method => :get
= form_tag entries_path(it.action_date.year, it.action_date.month), :remote => true, :method => :post, :before=>"$('new_add_button').disabled = true", :complete=>"$('new_add_button').disabled = false", :id=>'do_add_item' do
  = text_field_tag :action_year, it.action_date.year, :size=>5
  \/#{text_field_tag :action_month, it.action_date.month, :size=>3}/#{text_field_tag :action_day, (it.action_date.year == today.year && it.action_date.month == today.month) ? it.action_date.day : nil, :size=>3, :placeholder=>_('Day')} #{text_field_tag :item_name, it.name, :size=>30, :placeholder=>_('Input explanation')}
  \#{check_box_tag :confirmation_required, true, it.confirmation_required?}#{link_to '要確認', mark_entries_path('confirmation_required')}
  #candidates
  = select_tag 'from', options_for_select(@separated_accounts[:from_accounts], it.from_account_id.to_s)
  \=&gt;#{select_tag 'to', options_for_select(@separated_accounts[:to_accounts], it.to_account_id.to_s)} #{_("Amount:")}#{text_field_tag 'amount', ((it.amount.nil? || it.amount == 0) ? nil : CommonUtil.separate_by_comma(it.amount)), :size=>10, :style=>"text-align: right;", :placeholder=>_('amount')}#{_("yen")}
  %br/
  タグ #{text_field_tag 'tag_list'} #{submit_tag _('Register'), :id=>'new_add_button'}
  :javascript
    //
    new Form.Element.Observer('item_name', 1, function(element, value) {new Ajax.Updater('candidates', '#{entry_candidates_path}', {asynchronous:true, evalScripts:true, method:'get', parameters:'item_name=' + encodeURIComponent(value)})})
    //
