:coffeescript
  $ ->
    $('#edit_#{item.id}_form').bind "ajax:before", ->
      $('#edit_button_#{item.id}').attr 'disabled', true
      $('#item_operation_#{item.id}').hide()
      $('#item_operation_loading_#{item.id}').show()
    $('#edit_#{item.id}_form').bind "ajax:complete", ->
      $('#edit_button_#{item.id}').attr 'disabled', false
      $('#item_operation_loading_#{item.id}').hide()
      $('#item_operation_#{item.id}').show()
    $("#action_date_#{item.id}").datepicker()
.item{:id => "item_#{item.id}"}
  = form_tag entry_path(displaying_month.year, displaying_month.month, item.id), :remote => true, :method => :put, :id => "edit_#{item.id}_form", :class => "well"  do
    .row-fluid
      .alert= t(".edit_credit_item")
      = text_field_tag :action_date, l(item.action_date), size: 12, placeholder: "YYYY/MM/DD", id: "action_date_#{item.id}", class: "input-small"
      = item.name
      %span
        = @user.all_accounts[item.from_account_id]
        \=&gt;
        = @user.all_accounts[item.to_account_id]
      %span
        = number_to_currency(item.amount)
    .row-fluid
      %span{:id => "item_operation_#{item.id}"}
        = submit_tag t('button.save'), :id => "edit_button_#{item.id}", class: 'btn btn-primary'
        = link_to t('link.cancel'), entry_path(displaying_month.year, displaying_month.month, item.id), :remote => true, :method => :get, :class => "btn"
      %span{:id => "item_operation_loading_#{item.id}", :style => "display:none;"}= image_tag "loading.gif", :alt => "loading..."
    .row-fluid
      %div{:id => "item_warning_#{item.id}"}
