.item{:id => "item_#{item.id}"}
  = form_tag entry_path(displaying_month.year, displaying_month.month, item.id), :remote => true, :method => :put, :before=>"$('#edit_button_#{item.id.to_s}').attr('disabled', 'disabled');$('#item_operation_#{item.id}').hide();$('#item_operation_loading_#{item.id}').show();" do
    = text_field_tag :action_year, item.action_date.year, :size=>5
    年 #{text_field_tag :action_month, item.action_date.month, :size=>3}月 #{text_field_tag :action_day, item.action_date.mday, :size=>3}日 #{text_field_tag :item_name, item.name, :size=>30}
    \#{check_box_tag 'confirmation_required', true, item.confirmation_required?}要確認
    %br/
    = select_tag 'from', options_for_select(@separated_accounts[:from_accounts], item.from_account_id.to_s)
    \=&gt;#{select_tag 'to', options_for_select(@separated_accounts[:to_accounts], item.to_account_id.to_s)} 金額:#{text_field_tag 'amount', item.amount, :size=>10, :style=>"text-align: right;"}円
    %br/
    タグ #{text_field_tag 'tag_list', item.tag_list(@user)}
    %span{:id => "item_operation_#{h item.id}"}
      = submit_tag '変更', :id=>'edit_button_' + item.id.to_s
      = link_to 'キャンセル', entry_path(displaying_month.year, displaying_month.month, item.id), :remote => true, :method => :get, :before => "$('#item_operation_#{item.id}').hide();$('#item_operation_loading_#{item.id}').show();"
    %span{:id => "item_operation_loading_#{h item.id}", :style => "display:none;"}= image_tag "loading.gif", :alt => "loading..."
  %span.warning{:id => "item_warning_#{item.id}"}
