- event_item ||= item
- row_class = ""
- twitter_enabled = true
- edit_enabled = true
- destroy_enabled = true
- if event_item.adjustment?
  - row_class = "item_adjustment"
  - twitter_enabled = false
- elsif event_item.parent_id
  - row_class = "item_move"
  - twitter_enabled = false
  - destroy_enabled = false
- else
  - if @user.income_ids.include?(event_item.from_account_id)
    - row_class = "item_income"
  - elsif @user.account_ids.include?(event_item.from_account_id) && @user.account_ids.include?(event_item.to_account_id)
    - row_class = "item_move"

.item{:id => "item_#{event_item.id}", :class => "row-fluid #{row_class}"}
  - if event_item.adjustment?
    .span2.item_date= l(event_item.action_date)
    .span3.item_name
      = t("label.adjustment") + " " + number_to_currency(event_item.adjustment_amount)
      - if event_item.tags.size > 0
        [
        - event_item.tags.each do |tag|
          = link_to_tag(tag)
        ]
    .span2.item_from= (event_item.amount < 0) ? colored_account_name(event_item.to_account_id) : '(' + t("label.adjustment") + ')'
    .span2.item_to= (event_item.amount >= 0) ? colored_account_name(event_item.to_account_id) : '(' + t("label.adjustment") + ')'
    .span2.item_amount= number_to_currency(event_item.amount.abs)
  - elsif event_item.parent_id
    .span2.item_date= l(event_item.action_date)
    .span3.item_name
      = link_to_confirmation_required(event_item.id, event_item.parent_item.confirmation_required?, tag: @tag, mark: @mark, keyword: @keyword)
      #{t(".deposit")} (#{link_to l(event_item.parent_item.action_date, format: :short) + ' ' + emolettise(h event_item.parent_item.name), relative_path(event_item.id)})
      - if event_item.tags.size > 0
        [
        - event_item.tags.each do |tag|
          = link_to_tag(tag)
        ]
    .span2.item_from= colored_account_name(event_item.from_account_id)
    .span2.item_to= colored_account_name(event_item.to_account_id)
    .span2.item_amount=number_to_currency(event_item.amount)
  - elsif event_item.child_item
    .span2.item_date= l(event_item.action_date)
    .span3.item_name
      = link_to_confirmation_required(event_item.id, event_item.confirmation_required?, tag: @tag, mark: @mark, keyword: @keyword)
      = emolettise(h event_item.name)
      (#{link_to l(event_item.child_item.action_date, format: :short) + ' ' + t(".deposit"), relative_path(event_item.id)})
      - if event_item.tags.size > 0
        [
        - event_item.tags.each do |tag|
          = link_to_tag(tag)
        ]
    .span2.item_from= colored_account_name(event_item.from_account_id)
    .span2.item_to= colored_account_name(event_item.to_account_id)
    .span2.item_amount=number_to_currency(event_item.amount)
  - else
    .span2.item_date
      = l(event_item.action_date)
    .span3.item_name
      = link_to_confirmation_required(event_item.id, event_item.confirmation_required?, tag: @tag, mark: @mark, keyword: @keyword)
      = emolettise(h event_item.name)
      - if event_item.tags.size > 0
        [
        - event_item.tags.each do |tag|
          = link_to_tag(tag)
        ]
    .span2.item_from= colored_account_name(event_item.from_account_id)
    .span2.item_to= colored_account_name(event_item.to_account_id)
    .span2.item_amount=number_to_currency(event_item.amount)
  .span1.item_operation
    %span{:id => "navi_#{h event_item.id}"}
      - if @tag || @mark || @keyword
        = link_to_show(event_item)
      - else
        = tweet_button(event_item) if twitter_enabled
        = link_to_edit(event_item) if edit_enabled
        = link_to_destroy(event_item) if destroy_enabled
    %span{:id => "loading_#{h event_item.id}", :style => "display: none;"}= image_tag "loading.gif", :alt => "loading..."
