- year = displaying_month.year
- month = displaying_month.month
= javascript_include_tag :items
:javascript
  document.urls = { entries_path: "#{entries_path(:year => year, :month => month)}" }
- all_acnts = Array.new
- (@separated_accounts[:outgo_ids] + @separated_accounts[:account_ids] + @separated_accounts[:income_ids]).each do |a|
  - all_acnts.push [@separated_accounts[:all_accounts][a], a]
.item_date.item_date_header= t("label.date")
.item_name.item_name_header= t(".explanation")
.item_from_to_header
  = t(".outgoing_to_income")
  - unless @tag
    %br/
    = select_tag('filter_account_id', options_for_select([[t(".no_filter"), '']] + all_acnts, session[:filter_account_id]))
.item_amount.item_amount_header= t("label.amount")
.item_operation.item_operation_header= t(".operation")
.reset
