- event_item ||= item
.item{:id => "item_#{event_item.id}", :class => "row-fluid #{item_row_class(event_item)}"}
  .span2.item_date= l(event_item.action_date)
  .span3.item_name
    = item_row_confirmation_required(event_item, @tag, @mark, @keyword)
    %span.item_name_text= item_row_name(event_item)
    = link_to_tags(event_item)
  .span2.item_from= item_row_from_account(event_item)
  .span2.item_to= item_row_to_account(event_item)
  .span2.item_amount=number_to_currency(event_item.amount.abs)
  .span1.item_operation
    %span{:id => "navi_#{h event_item.id}"}= item_row_operation(event_item, @tag || @mark || @keyword)
    %span{:id => "loading_#{h event_item.id}", :style => "display: none;"}= image_tag "loading.gif", :alt => "loading..."
