- row_class = ""
- if event_item.adjustment?
  - row_class = "item_adjustment"
- elsif event_item.parent_id
  - row_class = "item_move"
- else
  - if (@separated_accounts[:income_ids]).include?(event_item.from_account_id)
    - row_class = "item_income"
  - elsif @separated_accounts[:account_ids].include?(event_item.from_account_id) && @separated_accounts[:account_ids].include?(event_item.to_account_id)
    - row_class = "item_move"

.item{:id => "item_#{event_item.id}", :class => "row-fluid #{row_class}"}
  - if event_item.adjustment?
    .span2.item_date= l(event_item.action_date)
    .span3.item_name
      = t("label.adjustment") + " " + number_to_currency(event_item.adjustment_amount)
      - if event_item.tags.size > 0
        [
        - event_item.tags.each do |tag|
          = link_to_tag(tag)
        ]
    .span2.item_from= (event_item.amount < 0) ? colored_account_name(event_item.to_account_id) : '(' + t("label.adjustment") + ')'
    .span2.item_to= (event_item.amount >= 0) ? colored_account_name(event_item.to_account_id) : '(' + t("label.adjustment") + ')'
    .span2.item_amount= number_to_currency(event_item.amount.abs)
    .span1.item_operation
      %span{:id => "navi_#{h event_item.id}"}
        - if @tag || @mark
          = link_to image_tag("show.png", alt: t("link.show"), class: "show_icon"), entries_path(event_item.action_date.year, event_item.action_date.month) + "#item_#{event_item.id}"
        - else
          = link_to image_tag('milky/edit.png', alt: t("link.edit"), class: "edit_icon"), edit_entry_path(event_item.action_date.year, event_item.action_date.month, event_item.id), :method => :get, :remote => true
          = link_to image_tag('milky/destroy.png', alt: t("link.delete"), class: "destroy_icon"), entry_path(event_item.action_date.year, event_item.action_date.month, event_item.id), :method => :delete, :remote => true, :confirm => t("message.delete_really")
      %span{:id => "loading_#{h event_item.id}", :style => "display: none;"}= image_tag "loading.gif", :alt => "loading..."
  - elsif event_item.parent_id
    .span2.item_date= l(event_item.action_date)
    .span3.item_name
      = link_to_confirmation_required(event_item.id, event_item.parent_item.confirmation_required?, tag: @tag, mark: @mark)
      #{t(".deposit")} (#{link_to l(event_item.parent_item.action_date, format: :short) + ' ' + emolettise(h event_item.parent_item.name), show_parent_child_item_path(:id=>event_item.id, :type=>'parent'), :remote => true})
      - if event_item.tags.size > 0
        [
        - event_item.tags.each do |tag|
          = link_to_tag(tag)
        ]
    .span2.item_from= colored_account_name(event_item.from_account_id)
    .span2.item_to= colored_account_name(event_item.to_account_id)
    .span2.item_amount=number_to_currency(event_item.amount)
    .span1.item_operation
  - elsif event_item.child_item
    .span2.item_date= l(event_item.action_date)
    .span3.item_name
      = link_to_confirmation_required(event_item.id, event_item.confirmation_required?, tag: @tag, mark: @mark)
      = emolettise(h event_item.name)
      (#{link_to l(event_item.child_item.action_date, format: :short) + ' ' + t(".deposit"), show_parent_child_item_path(:id=>event_item.id, :type=>'child'), :remote => true})
      - if event_item.tags.size > 0
        [
        - event_item.tags.each do |tag|
          = link_to_tag(tag)
        ]
    .span2.item_from= colored_account_name(event_item.from_account_id)
    .span2.item_to= colored_account_name(event_item.to_account_id)
    .span2.item_amount=number_to_currency(event_item.amount)
    .span1.item_operation
      %span{:id => "navi_#{h event_item.id}"}
        - if @tag || @mark
          = link_to image_tag("show.png", alt: t("link.show"), class: "show_icon"), entries_path(event_item.action_date.year, event_item.action_date.month) + "#item_#{event_item.id}"
        - else
          = tweet_button(event_item)
          = link_to image_tag('milky/edit.png', alt: t("link.edit"), class: "edit_icon"), edit_entry_path(event_item.action_date.year, event_item.action_date.month, event_item.id), :remote => true, :method => :get
          = link_to image_tag('milky/destroy.png', alt: t("link.delete"), class: "destroy_icon"), entry_path(event_item.action_date.year, event_item.action_date.month, event_item.id), :remote => true, :method => :delete, :confirm => t('message.delete_really')
      %span{:id => "loading_#{h event_item.id}", :style => "display: none;"}= image_tag "loading.gif", :alt => "loading..."
  - else
    .span2.item_date
      = l(event_item.action_date)
    .span3.item_name
      = link_to_confirmation_required(event_item.id, event_item.confirmation_required?, tag: @tag, mark: @mark)
      = emolettise(h event_item.name)
      - if event_item.tags.size > 0
        [
        - event_item.tags.each do |tag|
          = link_to_tag(tag)
        ]
    .span2.item_from= colored_account_name(event_item.from_account_id)
    .span2.item_to= colored_account_name(event_item.to_account_id)
    .span2.item_amount=number_to_currency(event_item.amount)
    .span1.item_operation
      %span{:id => "navi_#{h event_item.id}"}
        - if @tag || @mark
          = link_to image_tag("milky/show.png", alt: t("link.show"), class: "show_icon"), entries_path(event_item.action_date.year, event_item.action_date.month) + "#item_#{event_item.id}"
        - else
          = tweet_button(event_item)
          = link_to image_tag('milky/edit.png', alt: t("link.edit"), class: "edit_icon"), edit_entry_path(event_item.action_date.year, event_item.action_date.month, event_item.id), :remote => true, :method => :get
          = link_to image_tag('milky/destroy.png', alt: t("link.delete"),  class: "destroy_icon"), entry_path(event_item.action_date.year, event_item.action_date.month, event_item.id), :remote => true, :method => :delete, :confirm => t("message.delete_really")
      %span{:id => "loading_#{h event_item.id}", :style => "display: none;"}= image_tag "loading.gif", :alt => "loading..."
