- provide :append_head do
  = javascript_include_tag :items
  - year = displaying_month.year
  - month = displaying_month.month
  :coffeescript
    this.urls = { entries_path: "#{entries_path(:year => year, :month => month)}" }
- all_acnts = []
- (@user.expense_ids + @user.banking_ids + @user.income_ids).each do |a|
  - all_acnts << [@user.all_accounts[a], a]
.item_headers.row-fluid
  .span2.item_date.item_date_header.hidden-phone= t("label.date")
  .span3.item_name.item_name_header.hidden-phone= t(".explanation")
  .span4.item_from_to_header
    = t(".expense_to_income")
    - unless @tag || @keyword
      %br/
      = select_tag('filter_account_id', options_for_select([[t(".no_filter"), '']] + all_acnts, session[:filter_account_id]))
  .span2.item_amount.item_amount_header.hidden-phone= t("label.amount")
  .span1.hidden-phone
