:coffeescript
  $ ->
    $("#do_add_item")
      .bind("ajax:before", -> $('#new_add_button').attr('disabled', true))
      .bind("ajax:complete", -> $('#new_add_button').attr('disabled', false))
    $("#do_add_item .datepicker").datepicker()
= form_for it, as: :entry, url: entries_path(it.action_date.year, it.action_date.month), :remote => true, :method => :post, html: { :id=>'do_add_item', :class => "well" } do |f|
  .row-fluid
    %ul.nav.nav-pills
      %li= link_to t('link.register_income_expense'), new_entry_path(:year => it.action_date.year, :month => it.action_date.month), :remote => true, :method => :get
      %li.active= link_to t('link.register_adjustment'), new_entry_path(:year => it.action_date.year, :month => it.action_date.month, :entry_type => 'adjustment'), :remote => true, :method => :get
  .row-fluid.input-row
    %p= t('entries.adjustment_explanation')
  .row-fluid.input-row
    = f.text_field :action_date, value: l(it.action_date), class: "input-small datepicker", placeholder: "YYYY/MM/DD"
    = f.select :to_account_id, @user.bank_accounts, {}, { class: "input-medium" }
    %span.input-append
      = f.text_field :adjustment_amount, value: ((it.adjustment_amount.nil? || it.adjustment_amount == 0) ? nil : number_to_currency(it.adjustment_amount, format: "%n")), class: "input-small amount", style: "text-align: right;", placeholder: t("placeholder.amount")
      %span.add-on>= t('number.currency.format.unit')
    = f.text_field :tag_list, placeholder: t('placeholder.tag'), class: "input-medium tag_list"
    = f.submit t('button.register'), id: 'new_add_button', class: 'btn btn-primary'
    = f.hidden_field :entry_type, value: 'adjustment'
