:coffeescript
  $ ->
    $("#do_add_item")
      .bind("ajax:before", -> $('#new_add_button').attr('disabled', true))
      .bind("ajax:complete", -> $('#new_add_button').attr('disabled', false))
    $("#action_date").datepicker()
%h3= t('label.register_adjustment')
%span{:style => "font-weight: normal;font-size: 12px;"}= link_to t('link.register_income_outgo'), new_entry_path(:year => it.action_date.year, :month => it.action_date.month), :remote => true, :method => :get
= form_tag entries_path(it.action_date.year, it.action_date.month), :remote => true, :method => :post, :id=>'do_add_item', :class => "well" do
  .row-fluid.input-row
    %p= t('entries.adjustment_explanation')
  .row-fluid.input-row
    = text_field_tag :action_date, l(it.action_date), class: "input-small", placeholder: "YYYY/MM/DD"
    = select_tag 'to', options_for_select(@separated_accounts[:bank_accounts]), class: "input-medium"
    %span.input-append
      = text_field_tag 'adjustment_amount', nil, class: "input-small", style: "text-align: right;", placeholder: t("placeholder.amount")
      %span.add-on>= t('number.currency.format.unit')
    = text_field_tag 'tag_list',nil, placeholder: t('placeholder.tag'), class: "input-medium"
  .row-fluid.input-row
    = submit_tag t('button.register'), id: 'new_add_button', class: 'btn btn-primary'
    = hidden_field_tag 'entry_type', 'adjustment'
