-  partial = @item.adjustment? ? 'edit_adjustment' : 'edit_item'
:plain
  $("#item_#{@item.id}").hide();
  $("#item_#{@item.id}").html("#{escape_javascript(render partial: partial, locals: {item: @item})}");
  $("#item_#{@item.id}").slideDown(#{SLIDE_DURATION});

