.row
  .span12
    #warning{:style => "color: red"}
    #itemlistarea
      %h3
        - if @tag
          tag: #{h @tag}
        - elsif @keyword
          keyword: #{h @keyword}
      = render 'items_header'
      #items
        = render partial: 'item', collection: @items
        = render 'remains_link'
