<div id='monthlist'>
<%
   calendar_from_date = calendar_from(@user)
   calendar_to_date = calendar_to(@user)
-%>
  <%= monthlist(calendar_from_date.year, calendar_from_date.month, calendar_to_date.year, calendar_to_date.month, @display_year_month.year, @display_year_month.month,'index') %>
</div>
<div id='menu'>
<%= render :partial => '/common/menu' %>
</div>
<div class='wrapper'>
<div id='left_area'>
<div id='input_item_area'>
<%= render :partial => 'add_item', :locals => { :it => @new_item } %>
</div>
<div id="warning" style="color: red"></div>
<div id="itemlistarea">
<p id="list_item_explain"><%= _("List of Income/Outgo") %></p>
<%= render :partial => 'items_header' %>
<div id='items'>
<%=raw @items.collect{|it| render_item(it)}.join %>
<%= render :partial=>'remains_link' %>
</div><!-- items -->
</div><!-- itemlistarea -->
</div><!-- left_area -->
<div id='right_area'>
<div id='account_status' class="status_drawer">
<%= render :partial => 'account_status_blank' %>
</div>
<div id='confirmation_status' class="status_drawer">
<%= render :partial => 'confirmation_statuses/show_blank' %>
</div>
<div id='tag_status' class="status_drawer">
<%= render :partial => 'tag_statuses/show_blank' %>
</div>
<div id="ad">
<%= render :partial => 'common/left_ad' %>
</div>
</div><!-- right area -->
</div><!-- wrapper -->
