- calendar_from_date = calendar_from(@user)
- calendar_to_date = calendar_to(@user)
.row
  .span12
    = monthlist(calendar_from_date.year, calendar_from_date.month, calendar_to_date.year, calendar_to_date.month, displaying_month.year, displaying_month.month, 'index')
    #input_item_area
      = render partial: 'new_item', locals: { it: @new_item }
    #warning
    #itemlistarea
      = render 'items_header'
      #items
        = render partial: 'item', collection: @items
        = render 'remains_link'
