- calendar_from_date = calendar_from(@user)
- calendar_to_date = calendar_to(@user)
#monthlist= monthlist(calendar_from_date.year, calendar_from_date.month, calendar_to_date.year, calendar_to_date.month, displaying_month.year, displaying_month.month,'index')
#menu= render '/common/menu'
.wrapper
  #left_area
    #input_item_area
      = render partial: 'new_item', locals: { :it => @new_item }
    #warning{:style => "color: red"}
    #itemlistarea
      %p#list_item_explain= t("entries.income_outgoing_list")
      = render 'items_header'
      #items
        - @items.each do |it|
          = render partial: 'item', locals: { event_item: it }
        = render 'remains_link'
  #right_area
    #account_status.status_drawer= render 'account_status_blank'
    #confirmation_status.status_drawer= render 'confirmation_statuses/show_blank'
    #tag_status.status_drawer= render 'tag_statuses/show_blank'
    #ad= render 'common/left_ad'
