.row
  .span12
    #warning{:style => "color: red"}
    #itemlistarea
      %p#list_item_explain
        %h3= t("entries.income_outgoing_list")
        (mark: #{h (@mark == 'confirmation_required') ? t("label.confirmation_required").html_safe : '(' + t("label.unknown") + ')'})
      = render 'items_header'
      #items
        = render partial: 'item', collection: @items
        = render 'remains_link'
