<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=175px"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title><%= PRODUCT_NAME %></title>
<style type="text/css">
body{color:#333;font-size:12px;background-color:#e6e6e6;}
.hdr,.vl{border:1px solid #b8b8b8;margin:1px;padding:1px;}
.hdr{float:left;background:#c9c9c9 url(/assets/header-bg.gif) repeat-x scroll 0 0;width:11em;font-weight:bold;}
.vl{float:left;width:12em;text-align:center;}
.plain{float:left;width:12em;text-align:center;}
.reset{clear:left;}
.f,.m{font-size:11px;color:white;clear:both;width:170px;}
.m{padding-top:5px;}
.w{color:red;padding-top:5px;}
#new_add_button{width:12em;height:30px;}
#item_name{width:10em;}
#amount{width:3.5em;}
#year{width:2.5em;}
#month,#day{width:1.5em;}
</style>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'ejs' %>
<%= javascript_include_tag 'view' %>

</head>
<body>
<div id="replaced_area"></div>
</body>
<script type="text/javascript"><!--
new EJS({url: '/ejs/entries/new_simple.ejs?2011041401'}).update("replaced_area",<%=raw @data.to_json %>);
observerAddItemOnlyInput('<%=raw @data[:authenticity_token] %>');
//--></script>
</html>
