!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "width=175px", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= PRODUCT_NAME
    = stylesheet_link_tag "entries_new_simple"
    = javascript_include_tag "entries_new_simple"
  %body
    #replaced_area
  :javascript
    $(function() {
      new EJS({url: '/ejs/entries/new_simple.ejs?2012020901'}).update("replaced_area",#{@data.to_json});
      observerAddItemOnlyInput('#{@data[:authenticity_token]}');
      bindSubmitInNewSimple();
      $("#action_date").datepicker();
    });
