!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "width=175", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= Settings.product_name
    = stylesheet_link_tag "entries_new_simple"
    = javascript_include_tag "entries_new_simple"
  %body
    #replaced_area
  :coffeescript
    $ ->
      new EJS({url: '/ejs/entries/new_simple.ejs?2012020901'}).update("replaced_area",#{@data.to_json})
      observerAddItemOnlyInput '#{@data[:authenticity_token]}'
      entries.bindSubmitInNewSimple()
      $("#action_date").datepicker()
      $("#confirmation_required_label").bind "click", ->
        entries.toggleConfirmationRequired($("#confirmation_required").attr("value") != "true")
