:plain
  $("#item_#{@item.id}").hide();
  $("#item_#{@item.id}").html("#{escape_javascript(render partial: 'item', locals: { event_item: @item })}");
  $("#item_#{@item.id}").fadeIn(#{FADE_DURATION});
