:plain
  $("#item_#{@item.id}").hide();
  $("#item_#{@item.id}").html("#{j(render partial: 'item', locals: { event_item: @item })}");
  $("#item_#{@item.id}").fadeIn(#{Settings.effect.fade.duration});
