#account_history
%div{:id => "account_history_#{h @account_id}"}
  %table{:width => "600"}
    %tr
      %th{:colspan => "5"}
        - selector = "#account_history_#{ @account_id }"
        = @separated_accounts[:all_accounts][@account_id]
        #{t('label.of_history')} (#{link_to_function t('link.hide'), fadeout_and_remove(selector)})
    %tr
      %th{:colspan => "4"}= "#{t('label.last_month')}(#{(displaying_month - 1).strftime("%Y/%m")}) #{t('.brought_forward_from')}"
      %th.money= number_to_currency(@remain_amount)
    %tr
      %th{:width => "80px"}= t('label.date')
      %th= t('label.type')
      %th= t('label.item')
      %th{:width => "80px"}= t('label.gain_loss')
      %th{:width => "80px"}= t('label.balance')
    - @items.each do |it|
    - if it.from_account_id == @account_id
      - amount = it.amount * (-1)
      - related_account = @separated_accounts[:all_accounts][it.to_account_id]
    - else
      - amount = it.amount
      - related_account = @separated_accounts[:all_accounts][it.from_account_id]
    - @remain_amount += amount
      %tr
        %td{:width => "80px"}= l(it.action_date)
        %td= related_account
        %td= (it.adjustment?) ? t('label.adjustment') + number_to_currency(it.adjustment_amount) : it.name
        %td.money{:width => "80px"}= number_to_currency(amount)
        %td.money{:width => "80px"}= number_to_currency(@remain_amount)
    %tr
      %th{:colspan => "4"}= "#{t('label.next_month')} #{(displaying_month.end_of_month + 1).strftime("%Y/%m")} #{t('.carried_forward_to')}"
      %th{:align => "right"}= number_to_currency(@remain_amount)
