#account_history
%div{:id => "account_history_#{h @account_id}"}
  %table{:width => "600"}
    %tr
      %th{:colspan => "5"}
        - selector = "#account_history_#{ @account_id }"
        = @separated_accounts[:all_accounts][@account_id]
        の出納帳 (#{link_to_function '隠す', fadeout_and_remove(selector)})
    %tr
      %th{:colspan => "4"}
        前月(#{(displaying_month - 1).strftime("%Y/%m")})からの繰越
      %th.money
        = CommonUtil.separate_by_comma(@remain_amount)
        円
    %tr
      %th{:width => "80px"} 日付
      %th 種別
      %th 項目
      %th{:width => "80px"} 増減
      %th{:width => "80px"} 残高
    - @items.each do |it|
    - if it.from_account_id == @account_id
      - amount = it.amount * (-1)
      - related_account = @separated_accounts[:all_accounts][it.to_account_id]
    - else
      - amount = it.amount
      - related_account = @separated_accounts[:all_accounts][it.from_account_id]
    - @remain_amount += amount
      %tr
        %td{:width => "80px"}= it.action_date.strftime("%Y/%m/%d")
        %td= related_account
        %td= (it.is_adjustment) ? '残高調整 ' + CommonUtil.separate_by_comma(it.adjustment_amount) + ' 円' : it.name
        %td.money{:width => "80px"}
          = CommonUtil.separate_by_comma(amount)
          円
        %td.money{:width => "80px"}
          = CommonUtil.separate_by_comma(@remain_amount)
          円
    %tr
      %th{:colspan => "4"}
        次月(#{(displaying_month.end_of_month + 1).strftime("%Y/%m")})への繰越
      %th{:align => "right"}
        = CommonUtil.separate_by_comma(@remain_amount)
        円
