- cur_year = displaying_month.year
- cur_month = displaying_month.month
- provide :append_head do
  :coffeescript
    this.urls = {
      asset: "#{chart_data_asset_path(id: sprintf("%04d%02d", cur_year, cur_month), format: :json)}",
      debt: "#{chart_data_asset_path(id: sprintf("%04d%02d", cur_year, cur_month), asset_type: 'debt', format: :json)}",
      yearly_asset: "#{chart_data_yearly_asset_path(id: sprintf("%04d%02d", cur_year, cur_month), format: :json)}"
    }
  = render 'common/chart_header'
  = javascript_include_tag "balance_sheets"
.row
  .span12
    - calendar_from_date = calendar_from(@user)
    - calendar_to_date = calendar_to(@user)
    = monthlist(calendar_from_date.year, calendar_from_date.month, calendar_to_date.year, calendar_to_date.month,cur_year, cur_month,'index')
    #bslist
      .row
        .span8
          .row
            .span4
              %table.table
                %tr
                  %th.table_header= t('label.account')
                  %th.table_header.amount= t('label.amount')
                  %th.amount %
                %tr
                  %th.table_header{colspan: '3'} #{l(displaying_month, format: :year_month)} #{t('.stock_title')}
                - @plus.each do |a, amount|
                  %tr
                    %td.title "#{h a.name} [#{link_to t('link.revenue'), balance_sheet_path(displaying_month.year, displaying_month.month, a.id), method: :get, remote: true}]"
                    %td.money= number_to_currency(amount)
                    %td.percent #{(@total_plus == 0) ? '*' : amount * 100 / @total_plus}%
                %tr
                  %td.total= t('.stock_total')
                  %td.total.money=  number_to_currency(@total_plus)
                  %td.percent 100%
            .span4
              %table.table
                %tr
                  %th.table_header= t('label.account')
                  %th.table_header.amount= t('label.amount')
                  %th.amount %
                %tr
                  %th.table_header{colspan: '3'} #{l(displaying_month, format: :year_month)}#{t('.debt_title')}
                - @minus.each do |a, amount|
                  %tr
                    %td.title "#{h a.name} [#{link_to t('link.revenue'), url_for(balance_sheet_path(displaying_month.year, displaying_month.month, a.id)), method: :get, remote: true}]"
                    %td.amount= number_to_currency((-1)*amount)
                    %td.percent #{(@total_minus == 0) ? '*' :amount * 100 / @total_minus}%
                %tr
                  %td.total= t('.debt_total')
                  %td.total.amount= number_to_currency((-1)*@total_minus)
                  %td.amount 100%
                %tr
                  %th.table_header{colspan: '3'} #{l(displaying_month, format: :year_month)} #{t('.net_title')}
                %tr
                  %td.total= t('.net_total')
                  %td.total.amount= number_to_currency(@total_plus + @total_minus)
                  %td.percent 100%
          .row
            .span4
              %table.table
                %tr
                  %td.total_capital #{t('.stock_total')}: #{number_to_currency(@total_plus)}
            .span4
              %table.table
                %tr
                  %td.total_capital #{t('.debt_net_total')}: #{number_to_currency(@total_plus)}
          .yearly_balance_graph
            .chart_title
              %i.icon-th= ' ' + t('label.change')
              = toggle_legend_link '#yearly_chart'
              %span#income_chart_hover
            #yearly_chart_choices
            .graph#yearly_chart{style: 'height: 200px;'}
          #account_history
        .span4
          #asset_graph
            .chart_title
              %i.icon-th= ' ' + t('.stock')
              = toggle_legend_link '#asset_chart'
              %span#asset_chart_hover
            .graph#asset_chart{style: 'height: 200px'}
            .spacer &nbsp;
            .chart_title
              %i.icon-th= ' ' + t('.debt')
              = toggle_legend_link "#debt_chart"
              %span#debt_chart_hover
            .graph#debt_chart{style: 'height: 200px'}
