- cur_year = displaying_month.year
- cur_month = displaying_month.month
= javascript_include_tag "piechart"
= javascript_include_tag "linechart"
= javascript_include_tag "balance_sheets"
:javascript
  (function(global) {
    global.urls = {
      asset: "#{api_asset_path(id: sprintf("%04d%02d", cur_year, cur_month), format: :json)}",
      debt: "#{api_asset_path(id: sprintf("%04d%02d", cur_year, cur_month), asset_type: 'debt', format: :json)}",
      yearly_asset: "#{api_yearly_asset_path(id: sprintf("%04d%02d", cur_year, cur_month), format: :json)}"
    };
  })(document);
#monthlist
  - calendar_from_date = calendar_from(@user)
  - calendar_to_date = calendar_to(@user)
  = monthlist(calendar_from_date.year, calendar_from_date.month, calendar_to_date.year, calendar_to_date.month,cur_year, cur_month,'index')
#menu
  = render :partial => 'common/menu'
#bslist
  %table
    %tr
      %td{:style => "vertical-align:top"}
        %table
          %tr
            %td{:style => "vertical-align:top"}
              %table{:width => "300"}
                %tr
                  %th.table_header 口座
                  %th.table_header 金額
                  %th %
                %tr
                  %th.table_header{:colspan => "3"} #{displaying_month.year}年#{displaying_month.month}月資産の部
                - @plus.each do |a, amount|
                  %tr
                    %td.title!= "#{h a.name} [#{link_to '出納帳', balance_sheet_path(displaying_month.year, displaying_month.month, a.id), :method => :get, :remote => true}]"
                    %td.money #{CommonUtil.separate_by_comma(amount)}円
                    %td.percent #{(@total_plus == 0) ? '*' : amount * 100 / @total_plus}%
                %tr
                  %td.total 資産合計
                  %td.total.money= "#{CommonUtil.separate_by_comma(@total_plus)}円"
                  %td.percent 100%
            %td{:style => "vertical-align:top"}
              %table{:width => "300"}
                %tr
                  %th.table_header 口座
                  %th.table_header 金額
                  %th %
                %tr
                  %th.table_header{:colspan => "3"} #{displaying_month.year}年#{displaying_month.month}月負債の部
                - @minus.each do |a, amount|
                  %tr
                    %td.title!= "#{h a.name} [#{link_to '出納帳', url_for(balance_sheet_path(displaying_month.year, displaying_month.month, a.id)), :method => :get, :remote => true}]"
                    %td.money #{CommonUtil.separate_by_comma((-1)*amount)}円
                    %td.percent #{(@total_minus == 0) ? '*' :amount * 100 / @total_minus}%
                %tr
                  %td.total 負債合計
                  %td.total.money #{CommonUtil.separate_by_comma((-1)*@total_minus)}円
                  %td.money 100%
                %tr
                  %th.table_header{:colspan => "3"} #{displaying_month.year}年#{displaying_month.month}月資本の部
                %tr
                  %td.total 資本合計
                  %td.total.money #{CommonUtil.separate_by_comma(@total_plus + @total_minus)}円
                  %td.percent 100%
          %tr
            %td.total_capital 総資産: #{CommonUtil.separate_by_comma(@total_plus)}円
            %td.total_capital 総資本: #{CommonUtil.separate_by_comma(@total_plus)}円
        .yearly_balance_graph
          .chart_title
            ■推移
            %span#income_chart_hover
          #yearly_chart_choices
          #yearly_chart.graph{:style => "width: 600px; height: 200px;"}
        #account_history
      %td{:style => "vertical-align:top"}
        #asset_graph
          .chart_title
            ■資産
            %span#asset_chart_hover
          #asset_chart.graph{:style => "width: 300px; height: 200px"}
          .spacer &nbsp;
          .chart_title
            ■負債
            %span#debt_chart_hover
          #debt_chart.graph{:style => "width: 300px; height: 200px"}
