#menu
  = render :partial=>'settings/config_menu'
- if  @user.login != 'demo'
  #input_area
    = form_tag settings_user_path, :remote => true, :method => :put, :before=>"$('change_button').disabled = true" do
      %p= t('.explanation')
      %table
        %tr
          %th= t('.email')
          %td= text_field_tag 'email', @user.email
        %tr
          %th= t('.new_password')
          %td= password_field_tag 'password_plain', nil
        %tr
          %th= t('.new_password_confirmation')
          %td= password_field_tag 'password_confirmation', nil
      %p
        %span#warning.warning
      = submit_tag t('button.save'), :id=>'change_button'
- else
  This function is not available for the demo users.
