:coffeescript
  $ ->
    $("#edit_user")
      .bind("ajax:before", -> $('#change_button').attr("disabled", true))
      .bind("ajax:complete", -> $('#change_button').attr("disabled", false))
- if  @user.login != 'demo'
  #input_area
    = form_tag settings_user_path, :remote => true, :method => :put, :id => "edit_user", :class => "form-horizontal" do
      %p= t('.explanation')
      .control-group
        %label.control-label{for: 'email'}= t('.email')
        .controls= text_field_tag 'email', @user.email
      .control-group
        %label.control-label{for: 'password_plain'}= t('.new_password')
        .controls= password_field_tag 'password_plain', nil
      .control-group
        %label.control-label{for: 'password_plain'}= t('.new_password_confirmation')
        .controls= password_field_tag 'password_confirmation', nil
      %p
        %span#warning.warning
      .control-group
        .controls= submit_tag t('button.save'), id: 'change_button', class: 'btn btn-primary'
- else
  This function is not available for the demo users.
