%style
  :sass
    .emoji_list
      padding-left: 0
    .emoji_list li  
      float: left
%ul.emoji_list{style: "list-style-type: none;"}
  %li= ":bowtie:".emojify.html_safe
  %li= ":smile:".emojify.html_safe
  %li= ":laughing:".emojify.html_safe
  %li= ":blush:".emojify.html_safe
  %li= ":smiley:".emojify.html_safe
  %li= ":relaxed:".emojify.html_safe
  %li= ":smirk:".emojify.html_safe
  %li= ":heart_eyes:".emojify.html_safe
  %li= ":kissing_heart:".emojify.html_safe
  %li= ":kissing_face:".emojify.html_safe
  %li= ":flushed:".emojify.html_safe
  %li= ":relieved:".emojify.html_safe
  %li= ":satisfied:".emojify.html_safe
  %li= ":grin:".emojify.html_safe
  %li= ":wink:".emojify.html_safe
  %li= ":wink2:".emojify.html_safe
  %li= ":tongue:".emojify.html_safe
  %li= ":unamused:".emojify.html_safe
  %li= ":sweat_smile:".emojify.html_safe
  %li= ":sweat:".emojify.html_safe
  %li= ":weary:".emojify.html_safe
  %li= ":pensive:".emojify.html_safe
  %li= ":disappointed:".emojify.html_safe
  %li= ":confounded:".emojify.html_safe
  %li= ":fearful:".emojify.html_safe
  %li= ":cold_sweat:".emojify.html_safe
  %li= ":persevere:".emojify.html_safe
  %li= ":cry:".emojify.html_safe
  %li= ":sob:".emojify.html_safe
  %li= ":joy:".emojify.html_safe
  %li= ":astonished:".emojify.html_safe
  %li= ":scream:".emojify.html_safe
  %li= ":neckbeard:".emojify.html_safe
  %li= ":tired_face:".emojify.html_safe
  %li= ":angry:".emojify.html_safe
  %li= ":rage:".emojify.html_safe
  %li= ":triumph:".emojify.html_safe
  %li= ":sleepy:".emojify.html_safe
  %li= ":yum:".emojify.html_safe
  %li= ":mask:".emojify.html_safe
  %li= ":sunglasses:".emojify.html_safe
  %li= ":dizzy_face:".emojify.html_safe
  %li= ":imp:".emojify.html_safe
  %li= ":smiling_imp:".emojify.html_safe
  %li= ":neutral_face:".emojify.html_safe
  %li= ":no_mouth:".emojify.html_safe
  %li= ":innocent:".emojify.html_safe
  %li= ":alien:".emojify.html_safe
  %li= ":yellow_heart:".emojify.html_safe
  %li= ":blue_heart:".emojify.html_safe
  %li= ":purple_heart:".emojify.html_safe
  %li= ":heart:".emojify.html_safe
  %li= ":green_heart:".emojify.html_safe
  %li= ":broken_heart:".emojify.html_safe
  %li= ":heartbeat:".emojify.html_safe
  %li= ":heartpulse:".emojify.html_safe
  %li= ":two_hearts:".emojify.html_safe
  %li= ":revolving_hearts:".emojify.html_safe
  %li= ":cupid:".emojify.html_safe
  %li= ":sparkles:".emojify.html_safe
  %li= ":star:".emojify.html_safe
  %li= ":star2:".emojify.html_safe
  %li= ":dizzy:".emojify.html_safe
  %li= ":collision:".emojify.html_safe
  %li= ":anger:".emojify.html_safe
  %li= ":exclamation:".emojify.html_safe
  %li= ":question:".emojify.html_safe
  %li= ":grey_exclamation:".emojify.html_safe
  %li= ":grey_question:".emojify.html_safe
  %li= ":zzz:".emojify.html_safe
  %li= ":dash:".emojify.html_safe
  %li= ":sweat_drops:".emojify.html_safe
  %li= ":notes:".emojify.html_safe
  %li= ":musical_note:".emojify.html_safe
  %li= ":fire:".emojify.html_safe
  %li= ":hankey:".emojify.html_safe
  %li= ":poop:".emojify.html_safe
  %li= ":shit:".emojify.html_safe
  %li= ":+1:".emojify.html_safe
  %li= ":thumbsup:".emojify.html_safe
  %li= ":-1:".emojify.html_safe
  %li= ":thumbsdown:".emojify.html_safe
  %li= ":ok_hand:".emojify.html_safe
  %li= ":punch:".emojify.html_safe
  %li= ":facepunch:".emojify.html_safe
  %li= ":fist:".emojify.html_safe
  %li= ":v:".emojify.html_safe
  %li= ":wave:".emojify.html_safe
  %li= ":hand:".emojify.html_safe
  %li= ":open_hands:".emojify.html_safe
  %li= ":point_up:".emojify.html_safe
  %li= ":point_down:".emojify.html_safe
  %li= ":point_left:".emojify.html_safe
  %li= ":point_right:".emojify.html_safe
  %li= ":raised_hands:".emojify.html_safe
  %li= ":pray:".emojify.html_safe
  %li= ":point_up_2:".emojify.html_safe
  %li= ":clap:".emojify.html_safe
  %li= ":muscle:".emojify.html_safe
  %li= ":metal:".emojify.html_safe
  %li= ":walking:".emojify.html_safe
  %li= ":runner:".emojify.html_safe
  %li= ":running:".emojify.html_safe
  %li= ":couple:".emojify.html_safe
  %li= ":family:".emojify.html_safe
  %li= ":two_men_holding_hands:".emojify.html_safe
  %li= ":two_women_holding_hands:".emojify.html_safe
  %li= ":dancer:".emojify.html_safe
  %li= ":dancers:".emojify.html_safe
  %li= ":ok_woman:".emojify.html_safe
  %li= ":no_good:".emojify.html_safe
  %li= ":information_desk_person:".emojify.html_safe
  %li= ":raised_hand:".emojify.html_safe
  %li= ":bride_with_veil:".emojify.html_safe
  %li= ":person_with_pouting_face:".emojify.html_safe
  %li= ":person_frowning:".emojify.html_safe
  %li= ":bow:".emojify.html_safe
  %li= ":couplekiss:".emojify.html_safe
  %li= ":couple_with_heart:".emojify.html_safe
  %li= ":massage:".emojify.html_safe
  %li= ":haircut:".emojify.html_safe
  %li= ":nail_care:".emojify.html_safe
  %li= ":boy:".emojify.html_safe
  %li= ":girl:".emojify.html_safe
  %li= ":woman:".emojify.html_safe
  %li= ":man:".emojify.html_safe
  %li= ":baby:".emojify.html_safe
  %li= ":older_woman:".emojify.html_safe
  %li= ":older_man:".emojify.html_safe
  %li= ":person_with_blond_hair:".emojify.html_safe
  %li= ":man_with_gua_pi_mao:".emojify.html_safe
  %li= ":man_with_turban:".emojify.html_safe
  %li= ":construction_worker:".emojify.html_safe
  %li= ":cop:".emojify.html_safe
  %li= ":angel:".emojify.html_safe
  %li= ":princess:".emojify.html_safe
  %li= ":smiley_cat:".emojify.html_safe
  %li= ":smile_cat:".emojify.html_safe
  %li= ":heart_eyes_cat:".emojify.html_safe
  %li= ":kissing_cat:".emojify.html_safe
  %li= ":smirk_cat:".emojify.html_safe
  %li= ":scream_cat:".emojify.html_safe
  %li= ":crying_cat_face:".emojify.html_safe
  %li= ":joy_cat:".emojify.html_safe
  %li= ":pouting_cat:".emojify.html_safe
  %li= ":japanese_ogre:".emojify.html_safe
  %li= ":japanese_goblin:".emojify.html_safe
  %li= ":see_no_evil:".emojify.html_safe
  %li= ":hear_no_evil:".emojify.html_safe
  %li= ":speak_no_evil:".emojify.html_safe
  %li= ":guardsman:".emojify.html_safe
  %li= ":skull:".emojify.html_safe
  %li= ":feet:".emojify.html_safe
  %li= ":lips:".emojify.html_safe
  %li= ":kiss:".emojify.html_safe
  %li= ":droplet:".emojify.html_safe
  %li= ":ear:".emojify.html_safe
  %li= ":eyes:".emojify.html_safe
  %li= ":nose:".emojify.html_safe
  %li= ":tongue2:".emojify.html_safe
  %li= ":love_letter:".emojify.html_safe
  %li= ":bust_in_silhouette:".emojify.html_safe
  %li= ":busts_in_silhouette:".emojify.html_safe
  %li= ":speech_balloon:".emojify.html_safe
  %li= ":thought_balloon:".emojify.html_safe
  %li= ":feelsgood:".emojify.html_safe
  %li= ":finnadie:".emojify.html_safe
  %li= ":goberserk:".emojify.html_safe
  %li= ":godmode:".emojify.html_safe
  %li= ":hurtrealbad:".emojify.html_safe
  %li= ":rage1:".emojify.html_safe
  %li= ":rage2:".emojify.html_safe
  %li= ":rage3:".emojify.html_safe
  %li= ":rage4:".emojify.html_safe
  %li= ":suspect:".emojify.html_safe
  %li= ":trollface:".emojify.html_safe
  %li= ":sunny:".emojify.html_safe
  %li= ":umbrella:".emojify.html_safe
  %li= ":cloud:".emojify.html_safe
  %li= ":snowflake:".emojify.html_safe
  %li= ":snowman:".emojify.html_safe
  %li= ":zap:".emojify.html_safe
  %li= ":cyclone:".emojify.html_safe
  %li= ":foggy:".emojify.html_safe
  %li= ":ocean:".emojify.html_safe
  %li= ":cat:".emojify.html_safe
  %li= ":dog:".emojify.html_safe
  %li= ":mouse:".emojify.html_safe
  %li= ":hamster:".emojify.html_safe
  %li= ":rabbit:".emojify.html_safe
  %li= ":wolf:".emojify.html_safe
  %li= ":frog:".emojify.html_safe
  %li= ":tiger:".emojify.html_safe
  %li= ":koala:".emojify.html_safe
  %li= ":bear:".emojify.html_safe
  %li= ":pig:".emojify.html_safe
  %li= ":pig_nose:".emojify.html_safe
  %li= ":cow:".emojify.html_safe
  %li= ":boar:".emojify.html_safe
  %li= ":monkey_face:".emojify.html_safe
  %li= ":monkey:".emojify.html_safe
  %li= ":horse:".emojify.html_safe
  %li= ":racehorse:".emojify.html_safe
  %li= ":camel:".emojify.html_safe
  %li= ":sheep:".emojify.html_safe
  %li= ":elephant:".emojify.html_safe
  %li= ":panda_face:".emojify.html_safe
  %li= ":snake:".emojify.html_safe
  %li= ":bird:".emojify.html_safe
  %li= ":baby_chick:".emojify.html_safe
  %li= ":hatched_chick:".emojify.html_safe
  %li= ":hatching_chick:".emojify.html_safe
  %li= ":chicken:".emojify.html_safe
  %li= ":penguin:".emojify.html_safe
  %li= ":turtle:".emojify.html_safe
  %li= ":bug:".emojify.html_safe
  %li= ":honeybee:".emojify.html_safe
  %li= ":ant:".emojify.html_safe
  %li= ":beetle:".emojify.html_safe
  %li= ":snail:".emojify.html_safe
  %li= ":octopus:".emojify.html_safe
  %li= ":tropical_fish:".emojify.html_safe
  %li= ":fish:".emojify.html_safe
  %li= ":whale:".emojify.html_safe
  %li= ":whale2:".emojify.html_safe
  %li= ":dolphin:".emojify.html_safe
  %li= ":cow2:".emojify.html_safe
  %li= ":ram:".emojify.html_safe
  %li= ":rat:".emojify.html_safe
  %li= ":water_buffalo:".emojify.html_safe
  %li= ":tiger2:".emojify.html_safe
  %li= ":rabbit2:".emojify.html_safe
  %li= ":dragon:".emojify.html_safe
  %li= ":goat:".emojify.html_safe
  %li= ":rooster:".emojify.html_safe
  %li= ":dog2:".emojify.html_safe
  %li= ":pig2:".emojify.html_safe
  %li= ":mouse2:".emojify.html_safe
  %li= ":ox:".emojify.html_safe
  %li= ":dragon_face:".emojify.html_safe
  %li= ":blowfish:".emojify.html_safe
  %li= ":crocodile:".emojify.html_safe
  %li= ":dromedary_camel:".emojify.html_safe
  %li= ":leopard:".emojify.html_safe
  %li= ":cat2:".emojify.html_safe
  %li= ":poodle:".emojify.html_safe
  %li= ":paw_prints:".emojify.html_safe
  %li= ":bouquet:".emojify.html_safe
  %li= ":cherry_blossom:".emojify.html_safe
  %li= ":tulip:".emojify.html_safe
  %li= ":four_leaf_clover:".emojify.html_safe
  %li= ":rose:".emojify.html_safe
  %li= ":sunflower:".emojify.html_safe
  %li= ":hibiscus:".emojify.html_safe
  %li= ":maple_leaf:".emojify.html_safe
  %li= ":leaves:".emojify.html_safe
  %li= ":fallen_leaf:".emojify.html_safe
  %li= ":herb:".emojify.html_safe
  %li= ":mushroom:".emojify.html_safe
  %li= ":cactus:".emojify.html_safe
  %li= ":palm_tree:".emojify.html_safe
  %li= ":evergreen_tree:".emojify.html_safe
  %li= ":deciduous_tree:".emojify.html_safe
  %li= ":chestnut:".emojify.html_safe
  %li= ":seedling:".emojify.html_safe
  %li= ":blossom:".emojify.html_safe
  %li= ":ear_of_rice:".emojify.html_safe
  %li= ":shell:".emojify.html_safe
  %li= ":globe_with_meridians:".emojify.html_safe
  %li= ":sun_with_face:".emojify.html_safe
  %li= ":full_moon_with_face:".emojify.html_safe
  %li= ":new_moon_with_face:".emojify.html_safe
  %li= ":new_moon:".emojify.html_safe
  %li= ":waxing_crescent_moon:".emojify.html_safe
  %li= ":first_quarter_moon:".emojify.html_safe
  %li= ":waxing_gibbous_moon:".emojify.html_safe
  %li= ":full_moon:".emojify.html_safe
  %li= ":waning_gibbous_moon:".emojify.html_safe
  %li= ":last_quarter_moon:".emojify.html_safe
  %li= ":waning_crescent_moon:".emojify.html_safe
  %li= ":last_quarter_moon_with_face:".emojify.html_safe
  %li= ":first_quarter_moon_with_face:".emojify.html_safe
  %li= ":moon:".emojify.html_safe
  %li= ":earth_africa:".emojify.html_safe
  %li= ":earth_americas:".emojify.html_safe
  %li= ":earth_asia:".emojify.html_safe
  %li= ":volcano:".emojify.html_safe
  %li= ":milky_way:".emojify.html_safe
  %li= ":partly_sunny:".emojify.html_safe
  %li= ":octocat:".emojify.html_safe
  %li= ":squirrel:".emojify.html_safe
  %li= ":bamboo:".emojify.html_safe
  %li= ":gift_heart:".emojify.html_safe
  %li= ":dolls:".emojify.html_safe
  %li= ":school_satchel:".emojify.html_safe
  %li= ":mortar_board:".emojify.html_safe
  %li= ":flags:".emojify.html_safe
  %li= ":fireworks:".emojify.html_safe
  %li= ":sparkler:".emojify.html_safe
  %li= ":wind_chime:".emojify.html_safe
  %li= ":rice_scene:".emojify.html_safe
  %li= ":jack_o_lantern:".emojify.html_safe
  %li= ":ghost:".emojify.html_safe
  %li= ":santa:".emojify.html_safe
  %li= ":christmas_tree:".emojify.html_safe
  %li= ":gift:".emojify.html_safe
  %li= ":bell:".emojify.html_safe
  %li= ":no_bell:".emojify.html_safe
  %li= ":tanabata_tree:".emojify.html_safe
  %li= ":tada:".emojify.html_safe
  %li= ":confetti_ball:".emojify.html_safe
  %li= ":balloon:".emojify.html_safe
  %li= ":crystal_ball:".emojify.html_safe
  %li= ":cd:".emojify.html_safe
  %li= ":dvd:".emojify.html_safe
  %li= ":floppy_disk:".emojify.html_safe
  %li= ":camera:".emojify.html_safe
  %li= ":video_camera:".emojify.html_safe
  %li= ":movie_camera:".emojify.html_safe
  %li= ":computer:".emojify.html_safe
  %li= ":tv:".emojify.html_safe
  %li= ":iphone:".emojify.html_safe
  %li= ":phone:".emojify.html_safe
  %li= ":telephone:".emojify.html_safe
  %li= ":telephone_receiver:".emojify.html_safe
  %li= ":pager:".emojify.html_safe
  %li= ":fax:".emojify.html_safe
  %li= ":minidisc:".emojify.html_safe
  %li= ":vhs:".emojify.html_safe
  %li= ":sound:".emojify.html_safe
  %li= ":speaker:".emojify.html_safe
  %li= ":mute:".emojify.html_safe
  %li= ":loudspeaker:".emojify.html_safe
  %li= ":mega:".emojify.html_safe
  %li= ":hourglass:".emojify.html_safe
  %li= ":alarm_clock:".emojify.html_safe
  %li= ":watch:".emojify.html_safe
  %li= ":radio:".emojify.html_safe
  %li= ":satellite:".emojify.html_safe
  %li= ":loop:".emojify.html_safe
  %li= ":mag:".emojify.html_safe
  %li= ":mag_right:".emojify.html_safe
  %li= ":unlock:".emojify.html_safe
  %li= ":lock:".emojify.html_safe
  %li= ":lock_with_ink_pen:".emojify.html_safe
  %li= ":closed_lock_with_key:".emojify.html_safe
  %li= ":key:".emojify.html_safe
  %li= ":bulb:".emojify.html_safe
  %li= ":flashlight:".emojify.html_safe
  %li= ":high_brightness:".emojify.html_safe
  %li= ":low_brightness:".emojify.html_safe
  %li= ":electric_plug:".emojify.html_safe
  %li= ":battery:".emojify.html_safe
  %li= ":calling:".emojify.html_safe
  %li= ":email:".emojify.html_safe
  %li= ":mailbox:".emojify.html_safe
  %li= ":postbox:".emojify.html_safe
  %li= ":bath:".emojify.html_safe
  %li= ":bathtub:".emojify.html_safe
  %li= ":shower:".emojify.html_safe
  %li= ":toilet:".emojify.html_safe
  %li= ":wrench:".emojify.html_safe
  %li= ":nut_and_bolt:".emojify.html_safe
  %li= ":hammer:".emojify.html_safe
  %li= ":seat:".emojify.html_safe
  %li= ":moneybag:".emojify.html_safe
  %li= ":yen:".emojify.html_safe
  %li= ":dollar:".emojify.html_safe
  %li= ":pound:".emojify.html_safe
  %li= ":euro:".emojify.html_safe
  %li= ":credit_card:".emojify.html_safe
  %li= ":money_with_wings:".emojify.html_safe
  %li= ":e-mail:".emojify.html_safe
  %li= ":inbox_tray:".emojify.html_safe
  %li= ":outbox_tray:".emojify.html_safe
  %li= ":envelope:".emojify.html_safe
  %li= ":incoming_envelope:".emojify.html_safe
  %li= ":postal_horn:".emojify.html_safe
  %li= ":mailbox_closed:".emojify.html_safe
  %li= ":mailbox_with_mail:".emojify.html_safe
  %li= ":mailbox_with_no_mail:".emojify.html_safe
  %li= ":door:".emojify.html_safe
  %li= ":smoking:".emojify.html_safe
  %li= ":bomb:".emojify.html_safe
  %li= ":gun:".emojify.html_safe
  %li= ":hocho:".emojify.html_safe
  %li= ":pill:".emojify.html_safe
  %li= ":syringe:".emojify.html_safe
  %li= ":page_facing_up:".emojify.html_safe
  %li= ":page_with_curl:".emojify.html_safe
  %li= ":bookmark_tabs:".emojify.html_safe
  %li= ":bar_chart:".emojify.html_safe
  %li= ":chart_with_upwards_trend:".emojify.html_safe
  %li= ":chart_with_downwards_trend:".emojify.html_safe
  %li= ":scroll:".emojify.html_safe
  %li= ":clipboard:".emojify.html_safe
  %li= ":calendar:".emojify.html_safe
  %li= ":date:".emojify.html_safe
  %li= ":card_index:".emojify.html_safe
  %li= ":file_folder:".emojify.html_safe
  %li= ":open_file_folder:".emojify.html_safe
  %li= ":scissors:".emojify.html_safe
  %li= ":pushpin:".emojify.html_safe
  %li= ":paperclip:".emojify.html_safe
  %li= ":black_nib:".emojify.html_safe
  %li= ":pencil2:".emojify.html_safe
  %li= ":straight_ruler:".emojify.html_safe
  %li= ":triangular_ruler:".emojify.html_safe
  %li= ":closed_book:".emojify.html_safe
  %li= ":green_book:".emojify.html_safe
  %li= ":blue_book:".emojify.html_safe
  %li= ":orange_book:".emojify.html_safe
  %li= ":notebook:".emojify.html_safe
  %li= ":notebook_with_decorative_cover:".emojify.html_safe
  %li= ":ledger:".emojify.html_safe
  %li= ":books:".emojify.html_safe
  %li= ":bookmark:".emojify.html_safe
  %li= ":name_badge:".emojify.html_safe
  %li= ":microscope:".emojify.html_safe
  %li= ":telescope:".emojify.html_safe
  %li= ":newspaper:".emojify.html_safe
  %li= ":football:".emojify.html_safe
  %li= ":basketball:".emojify.html_safe
  %li= ":soccer:".emojify.html_safe
  %li= ":baseball:".emojify.html_safe
  %li= ":tennis:".emojify.html_safe
  %li= ":8ball:".emojify.html_safe
  %li= ":rugby_football:".emojify.html_safe
  %li= ":bowling:".emojify.html_safe
  %li= ":golf:".emojify.html_safe
  %li= ":mountain_bicyclist:".emojify.html_safe
  %li= ":bicyclist:".emojify.html_safe
  %li= ":horse_racing:".emojify.html_safe
  %li= ":snowboarder:".emojify.html_safe
  %li= ":swimmer:".emojify.html_safe
  %li= ":surfer:".emojify.html_safe
  %li= ":ski:".emojify.html_safe
  %li= ":spades:".emojify.html_safe
  %li= ":hearts:".emojify.html_safe
  %li= ":clubs:".emojify.html_safe
  %li= ":diamonds:".emojify.html_safe
  %li= ":gem:".emojify.html_safe
  %li= ":ring:".emojify.html_safe
  %li= ":trophy:".emojify.html_safe
  %li= ":musical_score:".emojify.html_safe
  %li= ":musical_keyboard:".emojify.html_safe
  %li= ":violin:".emojify.html_safe
  %li= ":space_invader:".emojify.html_safe
  %li= ":video_game:".emojify.html_safe
  %li= ":black_joker:".emojify.html_safe
  %li= ":flower_playing_cards:".emojify.html_safe
  %li= ":game_die:".emojify.html_safe
  %li= ":dart:".emojify.html_safe
  %li= ":mahjong:".emojify.html_safe
  %li= ":clapper:".emojify.html_safe
  %li= ":memo:".emojify.html_safe
  %li= ":pencil:".emojify.html_safe
  %li= ":book:".emojify.html_safe
  %li= ":art:".emojify.html_safe
  %li= ":microphone:".emojify.html_safe
  %li= ":headphones:".emojify.html_safe
  %li= ":trumpet:".emojify.html_safe
  %li= ":saxophone:".emojify.html_safe
  %li= ":guitar:".emojify.html_safe
  %li= ":shoe:".emojify.html_safe
  %li= ":sandal:".emojify.html_safe
  %li= ":high_heel:".emojify.html_safe
  %li= ":lipstick:".emojify.html_safe
  %li= ":boot:".emojify.html_safe
  %li= ":shirt:".emojify.html_safe
  %li= ":tshirt:".emojify.html_safe
  %li= ":necktie:".emojify.html_safe
  %li= ":womans_clothes:".emojify.html_safe
  %li= ":dress:".emojify.html_safe
  %li= ":running_shirt_with_sash:".emojify.html_safe
  %li= ":jeans:".emojify.html_safe
  %li= ":kimono:".emojify.html_safe
  %li= ":bikini:".emojify.html_safe
  %li= ":ribbon:".emojify.html_safe
  %li= ":tophat:".emojify.html_safe
  %li= ":crown:".emojify.html_safe
  %li= ":womans_hat:".emojify.html_safe
  %li= ":mans_shoe:".emojify.html_safe
  %li= ":closed_umbrella:".emojify.html_safe
  %li= ":briefcase:".emojify.html_safe
  %li= ":handbag:".emojify.html_safe
  %li= ":pouch:".emojify.html_safe
  %li= ":purse:".emojify.html_safe
  %li= ":eyeglasses:".emojify.html_safe
  %li= ":fishing_pole_and_fish:".emojify.html_safe
  %li= ":coffee:".emojify.html_safe
  %li= ":tea:".emojify.html_safe
  %li= ":sake:".emojify.html_safe
  %li= ":baby_bottle:".emojify.html_safe
  %li= ":beer:".emojify.html_safe
  %li= ":beers:".emojify.html_safe
  %li= ":cocktail:".emojify.html_safe
  %li= ":tropical_drink:".emojify.html_safe
  %li= ":wine_glass:".emojify.html_safe
  %li= ":fork_and_knife:".emojify.html_safe
  %li= ":pizza:".emojify.html_safe
  %li= ":hamburger:".emojify.html_safe
  %li= ":fries:".emojify.html_safe
  %li= ":poultry_leg:".emojify.html_safe
  %li= ":meat_on_bone:".emojify.html_safe
  %li= ":spaghetti:".emojify.html_safe
  %li= ":curry:".emojify.html_safe
  %li= ":fried_shrimp:".emojify.html_safe
  %li= ":bento:".emojify.html_safe
  %li= ":sushi:".emojify.html_safe
  %li= ":fish_cake:".emojify.html_safe
  %li= ":rice_ball:".emojify.html_safe
  %li= ":rice_cracker:".emojify.html_safe
  %li= ":rice:".emojify.html_safe
  %li= ":ramen:".emojify.html_safe
  %li= ":stew:".emojify.html_safe
  %li= ":oden:".emojify.html_safe
  %li= ":dango:".emojify.html_safe
  %li= ":egg:".emojify.html_safe
  %li= ":bread:".emojify.html_safe
  %li= ":doughnut:".emojify.html_safe
  %li= ":custard:".emojify.html_safe
  %li= ":icecream:".emojify.html_safe
  %li= ":ice_cream:".emojify.html_safe
  %li= ":shaved_ice:".emojify.html_safe
  %li= ":birthday:".emojify.html_safe
  %li= ":cake:".emojify.html_safe
  %li= ":cookie:".emojify.html_safe
  %li= ":chocolate_bar:".emojify.html_safe
  %li= ":candy:".emojify.html_safe
  %li= ":lollipop:".emojify.html_safe
  %li= ":honey_pot:".emojify.html_safe
  %li= ":apple:".emojify.html_safe
  %li= ":green_apple:".emojify.html_safe
  %li= ":tangerine:".emojify.html_safe
  %li= ":lemon:".emojify.html_safe
  %li= ":cherries:".emojify.html_safe
  %li= ":grapes:".emojify.html_safe
  %li= ":watermelon:".emojify.html_safe
  %li= ":strawberry:".emojify.html_safe
  %li= ":peach:".emojify.html_safe
  %li= ":melon:".emojify.html_safe
  %li= ":banana:".emojify.html_safe
  %li= ":pear:".emojify.html_safe
  %li= ":pineapple:".emojify.html_safe
  %li= ":sweet_potato:".emojify.html_safe
  %li= ":eggplant:".emojify.html_safe
  %li= ":tomato:".emojify.html_safe
  %li= ":corn:".emojify.html_safe
  %li= ":house:".emojify.html_safe
  %li= ":school:".emojify.html_safe
  %li= ":office:".emojify.html_safe
  %li= ":post_office:".emojify.html_safe
  %li= ":hospital:".emojify.html_safe
  %li= ":bank:".emojify.html_safe
  %li= ":convenience_store:".emojify.html_safe
  %li= ":love_hotel:".emojify.html_safe
  %li= ":hotel:".emojify.html_safe
  %li= ":wedding:".emojify.html_safe
  %li= ":church:".emojify.html_safe
  %li= ":department_store:".emojify.html_safe
  %li= ":european_post_office:".emojify.html_safe
  %li= ":city_sunrise:".emojify.html_safe
  %li= ":city_sunset:".emojify.html_safe
  %li= ":japanese_castle:".emojify.html_safe
  %li= ":european_castle:".emojify.html_safe
  %li= ":tent:".emojify.html_safe
  %li= ":factory:".emojify.html_safe
  %li= ":tokyo_tower:".emojify.html_safe
  %li= ":japan:".emojify.html_safe
  %li= ":mount_fuji:".emojify.html_safe
  %li= ":sunrise_over_mountains:".emojify.html_safe
  %li= ":sunrise:".emojify.html_safe
  %li= ":stars:".emojify.html_safe
  %li= ":statue_of_liberty:".emojify.html_safe
  %li= ":bridge_at_night:".emojify.html_safe
  %li= ":carousel_horse:".emojify.html_safe
  %li= ":rainbow:".emojify.html_safe
  %li= ":ferris_wheel:".emojify.html_safe
  %li= ":fountain:".emojify.html_safe
  %li= ":roller_coaster:".emojify.html_safe
  %li= ":ship:".emojify.html_safe
  %li= ":speedboat:".emojify.html_safe
  %li= ":boat:".emojify.html_safe
  %li= ":sailboat:".emojify.html_safe
  %li= ":rowboat:".emojify.html_safe
  %li= ":anchor:".emojify.html_safe
  %li= ":rocket:".emojify.html_safe
  %li= ":airplane:".emojify.html_safe
  %li= ":helicopter:".emojify.html_safe
  %li= ":steam_locomotive:".emojify.html_safe
  %li= ":tram:".emojify.html_safe
  %li= ":mountain_railway:".emojify.html_safe
  %li= ":bike:".emojify.html_safe
  %li= ":aerial_tramway:".emojify.html_safe
  %li= ":suspension_railway:".emojify.html_safe
  %li= ":mountain_cableway:".emojify.html_safe
  %li= ":tractor:".emojify.html_safe
  %li= ":blue_car:".emojify.html_safe
  %li= ":oncoming_automobile:".emojify.html_safe
  %li= ":car:".emojify.html_safe
  %li= ":red_car:".emojify.html_safe
  %li= ":taxi:".emojify.html_safe
  %li= ":oncoming_taxi:".emojify.html_safe
  %li= ":articulated_lorry:".emojify.html_safe
  %li= ":bus:".emojify.html_safe
  %li= ":oncoming_bus:".emojify.html_safe
  %li= ":rotating_light:".emojify.html_safe
  %li= ":police_car:".emojify.html_safe
  %li= ":oncoming_police_car:".emojify.html_safe
  %li= ":fire_engine:".emojify.html_safe
  %li= ":ambulance:".emojify.html_safe
  %li= ":minibus:".emojify.html_safe
  %li= ":truck:".emojify.html_safe
  %li= ":train:".emojify.html_safe
  %li= ":station:".emojify.html_safe
  %li= ":train2:".emojify.html_safe
  %li= ":bullettrain_front:".emojify.html_safe
  %li= ":bullettrain_side:".emojify.html_safe
  %li= ":light_rail:".emojify.html_safe
  %li= ":monorail:".emojify.html_safe
  %li= ":railway_car:".emojify.html_safe
  %li= ":trolleybus:".emojify.html_safe
  %li= ":ticket:".emojify.html_safe
  %li= ":fuelpump:".emojify.html_safe
  %li= ":vertical_traffic_light:".emojify.html_safe
  %li= ":traffic_light:".emojify.html_safe
  %li= ":warning:".emojify.html_safe
  %li= ":construction:".emojify.html_safe
  %li= ":beginner:".emojify.html_safe
  %li= ":atm:".emojify.html_safe
  %li= ":slot_machine:".emojify.html_safe
  %li= ":busstop:".emojify.html_safe
  %li= ":barber:".emojify.html_safe
  %li= ":hotsprings:".emojify.html_safe
  %li= ":checkered_flag:".emojify.html_safe
  %li= ":crossed_flags:".emojify.html_safe
  %li= ":izakaya_lantern:".emojify.html_safe
  %li= ":moyai:".emojify.html_safe
  %li= ":circus_tent:".emojify.html_safe
  %li= ":performing_arts:".emojify.html_safe
  %li= ":round_pushpin:".emojify.html_safe
  %li= ":triangular_flag_on_post:".emojify.html_safe
  %li= ":jp:".emojify.html_safe
  %li= ":kr:".emojify.html_safe
  %li= ":cn:".emojify.html_safe
  %li= ":us:".emojify.html_safe
  %li= ":fr:".emojify.html_safe
  %li= ":es:".emojify.html_safe
  %li= ":it:".emojify.html_safe
  %li= ":ru:".emojify.html_safe
  %li= ":gb:".emojify.html_safe
  %li= ":uk:".emojify.html_safe
  %li= ":de:".emojify.html_safe
  %li= ":one:".emojify.html_safe
  %li= ":two:".emojify.html_safe
  %li= ":three:".emojify.html_safe
  %li= ":four:".emojify.html_safe
  %li= ":five:".emojify.html_safe
  %li= ":six:".emojify.html_safe
  %li= ":seven:".emojify.html_safe
  %li= ":eight:".emojify.html_safe
  %li= ":nine:".emojify.html_safe
  %li= ":keycap_ten:".emojify.html_safe
  %li= ":zero:".emojify.html_safe
  %li= ":hash:".emojify.html_safe
  %li= ":symbols:".emojify.html_safe
  %li= ":arrow_backward:".emojify.html_safe
  %li= ":arrow_down:".emojify.html_safe
  %li= ":arrow_forward:".emojify.html_safe
  %li= ":arrow_left:".emojify.html_safe
  %li= ":capital_abcd:".emojify.html_safe
  %li= ":abcd:".emojify.html_safe
  %li= ":abc:".emojify.html_safe
  %li= ":arrow_lower_left:".emojify.html_safe
  %li= ":arrow_lower_right:".emojify.html_safe
  %li= ":arrow_right:".emojify.html_safe
  %li= ":arrow_up:".emojify.html_safe
  %li= ":arrow_upper_left:".emojify.html_safe
  %li= ":arrow_upper_right:".emojify.html_safe
  %li= ":arrow_double_down:".emojify.html_safe
  %li= ":arrow_double_up:".emojify.html_safe
  %li= ":arrow_down_small:".emojify.html_safe
  %li= ":arrow_heading_down:".emojify.html_safe
  %li= ":arrow_heading_up:".emojify.html_safe
  %li= ":leftwards_arrow_with_hook:".emojify.html_safe
  %li= ":arrow_right_hook:".emojify.html_safe
  %li= ":left_right_arrow:".emojify.html_safe
  %li= ":arrow_up_down:".emojify.html_safe
  %li= ":arrow_up_small:".emojify.html_safe
  %li= ":arrows_clockwise:".emojify.html_safe
  %li= ":arrows_counterclockwise:".emojify.html_safe
  %li= ":rewind:".emojify.html_safe
  %li= ":fast_forward:".emojify.html_safe
  %li= ":information_source:".emojify.html_safe
  %li= ":ok:".emojify.html_safe
  %li= ":twisted_rightwards_arrows:".emojify.html_safe
  %li= ":repeat:".emojify.html_safe
  %li= ":repeat_one:".emojify.html_safe
  %li= ":new:".emojify.html_safe
  %li= ":top:".emojify.html_safe
  %li= ":up:".emojify.html_safe
  %li= ":cool:".emojify.html_safe
  %li= ":free:".emojify.html_safe
  %li= ":ng:".emojify.html_safe
  %li= ":cinema:".emojify.html_safe
  %li= ":koko:".emojify.html_safe
  %li= ":signal_strength:".emojify.html_safe
  %li= ":u5272:".emojify.html_safe
  %li= ":u5408:".emojify.html_safe
  %li= ":u55b6:".emojify.html_safe
  %li= ":u6307:".emojify.html_safe
  %li= ":u6708:".emojify.html_safe
  %li= ":u6709:".emojify.html_safe
  %li= ":u6e80:".emojify.html_safe
  %li= ":u7121:".emojify.html_safe
  %li= ":u7533:".emojify.html_safe
  %li= ":u7a7a:".emojify.html_safe
  %li= ":u7981:".emojify.html_safe
  %li= ":sa:".emojify.html_safe
  %li= ":restroom:".emojify.html_safe
  %li= ":mens:".emojify.html_safe
  %li= ":womens:".emojify.html_safe
  %li= ":baby_symbol:".emojify.html_safe
  %li= ":no_smoking:".emojify.html_safe
  %li= ":parking:".emojify.html_safe
  %li= ":wheelchair:".emojify.html_safe
  %li= ":metro:".emojify.html_safe
  %li= ":baggage_claim:".emojify.html_safe
  %li= ":accept:".emojify.html_safe
  %li= ":wc:".emojify.html_safe
  %li= ":potable_water:".emojify.html_safe
  %li= ":put_litter_in_its_place:".emojify.html_safe
  %li= ":secret:".emojify.html_safe
  %li= ":congratulations:".emojify.html_safe
  %li= ":m:".emojify.html_safe
  %li= ":passport_control:".emojify.html_safe
  %li= ":left_luggage:".emojify.html_safe
  %li= ":customs:".emojify.html_safe
  %li= ":ideograph_advantage:".emojify.html_safe
  %li= ":cl:".emojify.html_safe
  %li= ":sos:".emojify.html_safe
  %li= ":id:".emojify.html_safe
  %li= ":no_entry_sign:".emojify.html_safe
  %li= ":underage:".emojify.html_safe
  %li= ":no_mobile_phones:".emojify.html_safe
  %li= ":do_not_litter:".emojify.html_safe
  %li= ":non-potable_water:".emojify.html_safe
  %li= ":no_bicycles:".emojify.html_safe
  %li= ":no_pedestrians:".emojify.html_safe
  %li= ":children_crossing:".emojify.html_safe
  %li= ":no_entry:".emojify.html_safe
  %li= ":eight_spoked_asterisk:".emojify.html_safe
  %li= ":eight_pointed_black_star:".emojify.html_safe
  %li= ":heart_decoration:".emojify.html_safe
  %li= ":vs:".emojify.html_safe
  %li= ":vibration_mode:".emojify.html_safe
  %li= ":mobile_phone_off:".emojify.html_safe
  %li= ":chart:".emojify.html_safe
  %li= ":currency_exchange:".emojify.html_safe
  %li= ":aries:".emojify.html_safe
  %li= ":taurus:".emojify.html_safe
  %li= ":gemini:".emojify.html_safe
  %li= ":cancer:".emojify.html_safe
  %li= ":leo:".emojify.html_safe
  %li= ":virgo:".emojify.html_safe
  %li= ":libra:".emojify.html_safe
  %li= ":scorpius:".emojify.html_safe
  %li= ":sagittarius:".emojify.html_safe
  %li= ":capricorn:".emojify.html_safe
  %li= ":aquarius:".emojify.html_safe
  %li= ":pisces:".emojify.html_safe
  %li= ":ophiuchus:".emojify.html_safe
  %li= ":six_pointed_star:".emojify.html_safe
  %li= ":negative_squared_cross_mark:".emojify.html_safe
  %li= ":a:".emojify.html_safe
  %li= ":b:".emojify.html_safe
  %li= ":ab:".emojify.html_safe
  %li= ":o2:".emojify.html_safe
  %li= ":diamond_shape_with_a_dot_inside:".emojify.html_safe
  %li= ":recycle:".emojify.html_safe
  %li= ":end:".emojify.html_safe
  %li= ":on:".emojify.html_safe
  %li= ":soon:".emojify.html_safe
  %li= ":clock1:".emojify.html_safe
  %li= ":clock130:".emojify.html_safe
  %li= ":clock10:".emojify.html_safe
  %li= ":clock1030:".emojify.html_safe
  %li= ":clock11:".emojify.html_safe
  %li= ":clock1130:".emojify.html_safe
  %li= ":clock12:".emojify.html_safe
  %li= ":clock1230:".emojify.html_safe
  %li= ":clock2:".emojify.html_safe
  %li= ":clock230:".emojify.html_safe
  %li= ":clock3:".emojify.html_safe
  %li= ":clock330:".emojify.html_safe
  %li= ":clock4:".emojify.html_safe
  %li= ":clock430:".emojify.html_safe
  %li= ":clock5:".emojify.html_safe
  %li= ":clock530:".emojify.html_safe
  %li= ":clock6:".emojify.html_safe
  %li= ":clock630:".emojify.html_safe
  %li= ":clock7:".emojify.html_safe
  %li= ":clock730:".emojify.html_safe
  %li= ":clock8:".emojify.html_safe
  %li= ":clock830:".emojify.html_safe
  %li= ":clock9:".emojify.html_safe
  %li= ":clock930:".emojify.html_safe
  %li= ":heavy_dollar_sign:".emojify.html_safe
  %li= ":copyright:".emojify.html_safe
  %li= ":registered:".emojify.html_safe
  %li= ":tm:".emojify.html_safe
  %li= ":x:".emojify.html_safe
  %li= ":heavy_exclamation_mark:".emojify.html_safe
  %li= ":bangbang:".emojify.html_safe
  %li= ":interrobang:".emojify.html_safe
  %li= ":o:".emojify.html_safe
  %li= ":heavy_multiplication_x:".emojify.html_safe
  %li= ":heavy_plus_sign:".emojify.html_safe
  %li= ":heavy_minus_sign:".emojify.html_safe
  %li= ":heavy_division_sign:".emojify.html_safe
  %li= ":white_flower:".emojify.html_safe
  %li= ":heavy_check_mark:".emojify.html_safe
  %li= ":ballot_box_with_check:".emojify.html_safe
  %li= ":radio_button:".emojify.html_safe
  %li= ":link:".emojify.html_safe
  %li= ":curly_loop:".emojify.html_safe
  %li= ":wavy_dash:".emojify.html_safe
  %li= ":part_alternation_mark:".emojify.html_safe
  %li= ":trident:".emojify.html_safe
  %li= ":black_square:".emojify.html_safe
  %li= ":white_square:".emojify.html_safe
  %li= ":black_circle:".emojify.html_safe
  %li= ":white_circle:".emojify.html_safe
  %li= ":red_circle:".emojify.html_safe
  %li= ":large_blue_circle:".emojify.html_safe
  %li= ":large_blue_diamond:".emojify.html_safe
  %li= ":large_orange_diamond:".emojify.html_safe
  %li= ":small_blue_diamond:".emojify.html_safe
  %li= ":small_orange_diamond:".emojify.html_safe
  %li= ":small_red_triangle:".emojify.html_safe
  %li= ":small_red_triangle_down:".emojify.html_safe
  %li= ":shipit:".emojify.html_safe
