:coffeescript
  $ ->
    $("#create_user_form")
      .bind("ajax:before", -> $('#create_button').attr("disabled", true))
      .bind("ajax:complete", -> $('#create_button').attr("disabled", false))
#warning
#inputarea
  %p= t(".input_user_and_password")
  %p= t('.user_password_minimum_letters')
  %p= t('.available_characters')
  = form_tag url_for(:action => 'do_create_user'), :remote => true, :id => "create_user_form" do
    %table
      %tr
        %th= t('.user')
        %td= text_field_tag 'login'
      %tr
        %th= t('.password')
        %td= password_field_tag 'password_plain'
      %tr
        %th= t('.password_confirmation')
        %td= password_field_tag 'password_confirmation'
      %tr
        %th= t('.email')
        %td= text_field_tag 'email'
    %br
    = submit_tag t('button.register'), :id=>'create_button', class: 'btn btn-primary'
