%h1= "#{GlobalSettings.product_name} users list"
%table
  %tr
    %th ID
    %th login
    %th created
    %th updated
    %th active

  - @users.each do |u|
    %tr
      %td= u.id
      %td= u.login
      %td= u.created_at ? l(u.created_at) : ''
      %td= u.updated_at ? l(u.updated_at) : ''
      %td= u.active?
