%h1
  = PRODUCT_NAME
  users list
%table
  %tr
    %th ID
    %th login
    %th created
    %th updated
    %th active
  - @users.each do |u|
    %tr
      %td= u.id
      %td= u.login
      %td= u.created_at ? u.created_at.strftime("%Y/%m/%d %H:%M:%S") : ''
      %td= u.updated_at ? u.updated_at.strftime("%Y/%m/%d %H:%M:%S") : ''
      %td= u.active?
