<!DOCTYPE html>
<%# <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -%>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="家計簿, Web, Rails, さな太郎">
  <meta name="description" content="WEB家計簿 さな太郎">
  <link href="/favicon.ico" rel="icon" type="image/vnd.microsoft.icon">
  <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <meta http-equiv="Content-Script-type" content="text/javascript">
  <meta http-equiv="Content-Style-type" content="text/css">
  <meta name="viewport" content="width=device-width"/>
  <%= csrf_meta_tag %>
  <title><%= PRODUCT_NAME %></title>
  <!--[if IE]>
    <script type="text/javascript">
      document.createElement( 'header' );
      document.createElement( 'section' );
      document.createElement( 'nav' );
      document.createElement( 'aside' );
      document.createElement( 'footer' );
      document.createElement( 'article' );
      document.createElement( 'time' );
    </script>
  <![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'colorPicker' %>
</head>
<body>
<%= yield %>
</body>
</html>
