!!!
  %html{:lang => "ja"}
    %head
      %meta{:charset => "utf-8"}/
      %meta{:content => "家計簿, Web, Rails, さな太郎", :name => "keywords"}/
      %meta{:content => "WEB家計簿 さな太郎", :name => "description"}/
      %link{:href => "/favicon.ico", :rel => "icon", :type => "image/vnd.microsoft.icon"}/
      %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
      %meta{:content => "text/javascript", "http-equiv" => "Content-Script-type"}/
      %meta{:content => "text/css", "http-equiv" => "Content-Style-type"}/
      %meta{:content => "width=device-width", :name => "viewport"}/
      = csrf_meta_tag
      %title= PRODUCT_NAME
      /[if IE]
        <script type="text/javascript">
        document.createElement( 'header' );
        document.createElement( 'section' );
        document.createElement( 'nav' );
        document.createElement( 'aside' );
        document.createElement( 'footer' );
        document.createElement( 'article' );
        document.createElement( 'time' );
        </script>
      = javascript_include_tag :defaults
      = stylesheet_link_tag 'application'
      = stylesheet_link_tag 'colorPicker'
    %body
      = yield
