!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "#{t('headers.keywords')}", :name => "keywords"}/
    %meta{:content => "#{t('headers.description')}", :name => "description"}/
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/vnd.microsoft.icon"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}
    %meta{:content => "text/javascript", "http-equiv" => "Content-Script-type"}
    %meta{:content => "text/css", "http-equiv" => "Content-Style-type"}
    %meta{:content => "width=device-width", :name => "viewport"}
    = csrf_meta_tag
    %title= Settings.product_name
    /[if IE]
      <script type="text/javascript">
      document.createElement( 'header' );
      document.createElement( 'section' );
      document.createElement( 'nav' );
      document.createElement( 'aside' );
      document.createElement( 'footer' );
      document.createElement( 'article' );
      document.createElement( 'time' );
      </script>
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'application'
  %body
    = yield
