<!DOCTYPE html>
<%# <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -%>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="家計簿, Web, Rails, さな太郎">
  <meta name="description" content="WEB家計簿 さな太郎">
  <link href="/favicon.ico" rel="icon" type="image/vnd.microsoft.icon">
  <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <meta http-equiv="Content-Script-type" content="text/javascript">
  <meta http-equiv="Content-Style-type" content="text/css">
  <meta name="viewport" content="width=device-width"/>
  <%= csrf_meta_tag %>
  <title><%= PRODUCT_NAME %></title>
  <!--[if IE]>
    <script type="text/javascript">
      document.createElement( 'header' );
      document.createElement( 'section' );
      document.createElement( 'nav' );
      document.createElement( 'aside' );
      document.createElement( 'footer' );
      document.createElement( 'article' );
      document.createElement( 'time' );
    </script>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "colorPicker" %>
  <!--[if lte IE 8]><%= javascript_include_tag "flot/excanvas.min.js" %><![endif]-->
  <%= javascript_include_tag "flot" %>
  <script type="text/javascript">
    jQuery.noConflict();
  </script>
</head>
<body>
<div class="header">
<% if params[:action] == 'add_item_only_input' %><%= image_tag "logo-s.gif", :alt=> PRODUCT_NAME %><% else %><%= image_tag "logo.gif", :alt => PRODUCT_NAME %><% end %>
<script type="text/javascript">
<!--
var coo = "cookietest=ok";
document.cookie = coo + "\;";
coo = document.cookie;
if( !coo ){
  document.write("<div class=\"warning\"><%= _("It seems that Cookie is not accepted by your browser.<br/>This site has to be used with Coocie-Acceptable web browser.<br/>Please make the browser accept Cookie. Thank you.") %></div>");
}
//-->
</script>
<noscript>
<div class="warning"><%= _("It seems that JavaScript function is off in your browser configuration.<br/>This site has to be used with JavaScript-enabled web browser.<br/>Please make JavaScript enabled. Thank you.") %></div>
</noscript>
</div>
<div class="main">
<%= yield  %>
</div><!-- main -->
<div class="footer">
Copyright &copy; 2007-2010 nu-chon.org. All rights are reserved.
</div>
</body>
</html>

