!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}
    %meta{name: "application-name", content: "#{Settings.product_name}"}
    %meta{name: "author", content: "#{t('label.author')}"}
    %meta{:content => "#{t('headers.keywords')}", :name => "keywords"}
    %meta{:content => "#{t('headers.description')}", :name => "description"}
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/vnd.microsoft.icon"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}
    %meta{:content => "width=device-width", :name => "viewport"}
    = csrf_meta_tags
    %title= Settings.product_name
    /[if IE]
      <script type="text/javascript">
      document.createElement( 'header' );
      document.createElement( 'section' );
      document.createElement( 'nav' );
      document.createElement( 'aside' );
      document.createElement( 'footer' );
      document.createElement( 'article' );
      document.createElement( 'time' );
      </script>
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    - unless Settings.enable_tweet
      %style(type="text/css")
        :sass
          .tweet_button
            display: none
    /[if lte IE 8]
      = javascript_include_tag "flot/excanvas.min.js"
    = javascript_include_tag "flot"
  %body
    .container
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            - if @user
              %a{:class => "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            = link_to Settings.product_name, (@user ? current_entries_url : root_url), :class => "brand"
            - if @user
              - if params[:year].blank? || params[:month].blank?
                - e_path = current_entries_path
                - pl_path = current_profit_losses_path
                - bs_path = current_balance_sheets_path
              - else
                - e_path = entries_path(params[:year], params[:month])
                - pl_path = profit_losses_path(params[:year], params[:month])
                - bs_path = balance_sheets_path(params[:year], params[:month])
              - items_class = params[:controller] == 'entries' ? "active" : ""
              - config_class = params[:controller] =~ /^settings\// ?  "active" : ""
              - items_link = link_to t('.items'), e_path
              - logout_link = link_to t('link.logout'), logout_path, :data => { :confirm => t("message.logout_really")}
              .nav-collapse
                %ul.nav
                  %li{class: "#{items_class}"}= items_link
                  %li.dropdown
                    %a.dropdown-toggle{ :href => '#', "data-toggle" => 'dropdown'}
                      #{t('.addup')}
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to t(".profit_loss"), pl_path
                      %li= link_to t('.balance'), bs_path
                  %li.dropdown
                    %a.dropdown-toggle{ :href => '#', "data-toggle" => 'dropdown'}
                      #{t('.digest')}
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to("#{t("link.status_of_today", date: today)}".html_safe, account_status_path, id: "account_digest", class: "digest_link")
                      %li= link_to("#{t("link.confirmation_list", mark: icon_confirmation)}".html_safe, confirmation_status_path, id: "confirmation_digest", class: "digest_link")
                      %li= link_to("#{t("link.tag_list")}".html_safe, tag_status_path, id: "tag_digest", class: "digest_link")
                %ul.nav.pull-right
                  %li
                    = form_tag keyword_entries_path("KEYWORD_PLACEHOLDER"), method: :get, class: "navbar-search", id: "search-form" do
                      %i.icon-search
                      = text_field_tag :keyword, @keyword, placeholder: "Search", class: "search-query span2"
                  %li= link_to t('.simple_input'), simple_input_path
                  %li.dropdown
                    %a.dropdown-toggle{ :href => "#", "data-toggle" => "dropdown" }
                      #{t('.config')}
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to("<i class='icon-book'></i>#{t('.account')}".html_safe, settings_accounts_path(:account_type=>'account'))
                      %li= link_to("<i class='icon-hand-right'></i>#{t('.income')}".html_safe, settings_accounts_path(:account_type => 'income'))
                      %li= link_to("<i class='icon-shopping-cart'></i>#{t('.outgoing')}".html_safe, settings_accounts_path(:account_type => 'outgo'))
                      %li= link_to("<i class='icon-certificate'></i>#{t('.credit_card')}".html_safe, settings_credit_relations_path)
                      %li= link_to("<i class='icon-user'></i>#{t('.user_info')}".html_safe, settings_user_path)
                  %li= logout_link
      .header
        :coffeescript
          coo = "cookietest=ok"
          document.cookie = coo + "\;"
          coo = document.cookie
          if( !coo )
            document.write "<div class=\"warning\">#{t(".no_cookie_explanation")}</div>"
        %noscript
          .warning!= t(".no_javascript_explanation")
      .main= yield
      .footer!= t("label.copyright")

    .modal.hide.fade#digest_modal{:style => "display: none;"}
      .modal-header
        %button.close{"data-dismiss" => "modal"}= '&times;'.html_safe
        %h3#digest_title= ""
      .modal-body#digest_body
      .modal-footer
        %a.btn{:href => "#", "data-dismiss" => "modal"}= t("button.close")
