!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "家計簿, Web, Rails, さな太郎", :name => "keywords"}/
    %meta{:content => "WEB家計簿 さな太郎", :name => "description"}/
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/vnd.microsoft.icon"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
    %meta{:content => "text/javascript", "http-equiv" => "Content-Script-type"}/
    %meta{:content => "text/css", "http-equiv" => "Content-Style-type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    = csrf_meta_tag
    %title= Settings.product_name
    /[if IE]
      <script type="text/javascript">
      document.createElement( 'header' );
      document.createElement( 'section' );
      document.createElement( 'nav' );
      document.createElement( 'aside' );
      document.createElement( 'footer' );
      document.createElement( 'article' );
      document.createElement( 'time' );
      </script>
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    /[if lte IE 8] 
      = javascript_include_tag "flot/excanvas.min.js"
    = javascript_include_tag "flot"
    %body
    .header
      - if params[:action] == 'add_item_only_input'
        = image_tag "logo-s.gif", :alt=> Settings.product_name
      - else
        = image_tag "logo.gif", :alt => Settings.product_name
      :javascript
        var coo = "cookietest=ok";
        document.cookie = coo + "\;";
        coo = document.cookie;
        if( !coo ){
          document.write("<div class=\"warning\">#{t(".no_cookie_explanation")}</div>");
        }
      %noscript
        .warning!= t(".no_javascript_explanation")
    .main
      = yield
    .footer!= t("label.copyright")
