!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "家計簿, Web, Rails, さな太郎", :name => "keywords"}/
    %meta{:content => "WEB家計簿 さな太郎", :name => "description"}/
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/vnd.microsoft.icon"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
    %meta{:content => "text/javascript", "http-equiv" => "Content-Script-type"}/
    %meta{:content => "text/css", "http-equiv" => "Content-Style-type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    = csrf_meta_tag
    %title= PRODUCT_NAME
    /[if IE]
      <script type="text/javascript">
      document.createElement( 'header' );
      document.createElement( 'section' );
      document.createElement( 'nav' );
      document.createElement( 'aside' );
      document.createElement( 'footer' );
      document.createElement( 'article' );
      document.createElement( 'time' );
      </script>
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "colorPicker"
    /[if lte IE 8] <haml:loud> javascript_include_tag &amp;quot;flot/excanvas.min.js&amp;quot; </haml:loud>
    = javascript_include_tag "flot"
    :javascript
      jQuery.noConflict();
    %body
    .header
      - if params[:action] == 'add_item_only_input'
        = image_tag "logo-s.gif", :alt=> PRODUCT_NAME
      - else
        = image_tag "logo.gif", :alt => PRODUCT_NAME
      :javascript
                %noscript
        .warning= _("It seems that JavaScript function is off in your browser configuration.<br/>This site has to be used with JavaScript-enabled web browser.<br/>Please make JavaScript enabled. Thank you.")
    .main
      = yield
    .footer
      Copyright &copy; 2007-2012 nu-chon.org. All rights are reserved.
